{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit {% endblock %} {% block content %}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <a href="/onlineform_v3/check-your-answers.html" class="link-back">Back</a>
            <form action="/onlineform_v3/rent-details" method="post" class="form">
                <h1 class="heading-large">Missing rent payments</h1>
                <label class="form-label" for="total-rent-outstanding">Total outstanding rent amount</label>
                <div class="govuk-currency-input">
                    <div class="govuk-currency-input__inner">
                        <span class="govuk-currency-input__inner__unit">£</span>
                        <input class="govuk-currency-input__inner__input form-control form-control-1-4" aria-label="Enter amount in pounds" name="rent-amount" data-non-numeric="" type="text" id="rent-amount" pattern="[0-9]\d*(\.\d+)?">
                    </div>
                    <br>
                    <fieldset>
                        <legend>
                            <label class="form-label" for="first-name-2">Date of first missing payment</label>
                        </legend>
                        <div class="form-date">
                            <div class="form-group form-group-day">
                                <label class="form-label" for="dob-day">Day</label>
                                <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
                            </div>
                            <div class="form-group form-group-month">
                                <label class="form-label" for="dob-month">Month</label>
                                <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
                            </div>
                            <div class="form-group form-group-year">
                                <label class="form-label" for="dob-year">Year</label>
                                <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2016">
                            </div>
                    </fieldset>
                    <br>
                    <div class="form-group">
                        <label class="form-label" for="ref-number">Is the tenant still missing payments?</label>
                        <div class="multiple-choice">
                            <input id="creditorRefYes" type="radio" name="creditor" value="true">
                            <label for="creditorRefYes">Yes</label>
                        </div>
                        <div class="multiple-choice" data-target="creditor-ref">
                            <input id="creditorRefNo" type="radio" name="creditor" value="false">
                            <label for="creditorRefNo">No</label>
                        </div>
                        <div class="panel panel-border-narrow js-hidden" id="creditor-ref">
                            <fieldset>
                                <legend>
                                    <label class="form-label" for="first-name-2">Date of last missing payment</label>
                                </legend>
                                <div class="form-date">
                                    <div class="form-group form-group-day">
                                        <label class="form-label" for="dob-day">Day</label>
                                        <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
                                    </div>
                                    <div class="form-group form-group-month">
                                        <label class="form-label" for="dob-month">Month</label>
                                        <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
                                    </div>
                                    <div class="form-group form-group-year">
                                        <label class="form-label" for="dob-year">Year</label>
                                        <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2016">
                                    </div>
                            </fieldset>
                            </div>
                        </div>
                        </details>
                        <br>
                    </div>
            </form>
            <input type="submit" class="button" value="Continue">
            </div>
            </div>
        </div>
        </form>
    </div>
    </div>
</main>
{% endblock %} {% block scripts %} {{ super() }} }) {% endblock %}