{% extends "./page.html" %}

{% block pageTitle -%}
  {{ serviceName }} – GOV.UK
{%- endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      New way to apply for direct rent payments
    </h1>

    <p>We've made a new version of this service. We'd like you to try it and tell us what you think.</p>
    <p>We'll replace the old service with the new one as soon as possible. While we're working on it, there'll be times when only the old service is available</p>


    {{ govukButton({
      text: "Continue",
      href: basePath + "/pages/start"
    }) }}

    <a href="https://directpayment.universal-credit.service.gov.uk" class="cancel-review govuk-body govuk-link--no-visited-state">Take me to the old service</a>

  </div>
</div>
{% endblock %}
