div.address-picker {

    margin-bottom: 2em;


    #manual {
        input {
            width: 50%;
        }
    }

    .postcode-input {
        width: 35% !important;
    }


    button {

        display: inline-block;
        height: 36px;
        background-color: $panel-colour;
        box-shadow: 0 2px 0 $secondary-text-colour;
        color: black !important;
        margin-left: 0.1em;

        &:hover {
            background-color: $border-colour;
        }
    }

    #output {
        span {
            padding-right: 1rem;
        }
        a {
            cursor: pointer;
        }
        h3 {
            margin-top: 1em;
            margin-bottom: 0em;
        }
    }
}