// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/"; // Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements'; // Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/task-list';

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@import 'components/components'; // Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
    margin-top: $gutter;
    border-top: 10px solid $govuk-blue;
    padding-top: 5px;

    .heading-medium {
        margin-top: 0.3em;
        margin-bottom: 0.5em;
    }

    li {
        margin-bottom: 10px;
        list-style-type: none;
    }
}

.form-control-1-1 {
    width: 100%;
}

.legal_message {
    margin: 30px 0 30px;
    padding-left: 60px;
    background-image: url(https://assets.digital.cabinet-office.gov.uk/static/icon-important-2x-c948a58b675598f444f7f8fffd9ebf3d740905da332308c65b0dcb4af880d7ba.png);
    background: url(https://assets.digital.cabinet-office.gov.uk/static/icon-important-aab708504574eda2dc4a4de0802be03dbbd70d57b422de93e55e265c9ae2fc43.png) no-repeat scroll 0 0.5em;
    background-size: 34px 34px
} // Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.remove-list-item {
    display: inline-block;
    margin-top: 1.6em;
}

.list-item-wrapper {
    padding-left: 20px;
    padding-right: 20px;
}

.list-item-wrapper .heading-small,
.list-item-wrapper .heading-medium,
.list-item-wrapper .heading-large,
.list-item-wrapper .heading-xlarge {
    margin-top: 0;
}

.list-item-wrapper .column-one-third .list-item {
    width: 100%;
}

.list-item-wrapper .column-one-third input {
    width: 90%;
}

.button-add-another {
    background-color: #eee;
    color: #000;
    box-shadow: 0 2px 0 #666;
    margin-right: 12px;
}

.button-add-another:hover {
    background-color: #ccc;
    color: #000;
    box-shadow: 0 2px 0 #666;
}

.button-add-another:focus {
    background-color: #ccc;
    color: #000;
    box-shadow: 0 2px 0 #666;
}

@media (max-width: 640px) {
    .list-item-wrapper .column-one-third input {
        width: 100%;
    }

    .no-padding {
        padding-left: 20px;
        padding-right: 20px;
    }

    .button-add-another {
        width: 90%;
        margin: auto;
        display: block;
    }
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.remove-list-item {
    display: inline-block;
    margin-top: 1.6em;
}

.list-item-wrapper {
    padding-left: 15px;
    padding-right: 20px;
}

.list-item-wrapper .heading-small,
.list-item-wrapper .heading-medium,
.list-item-wrapper .heading-large,
.list-item-wrapper .heading-xlarge {
    margin-top: 0;
}

.list-item-wrapper .column-one-third .list-item {
    width: 100%;
}

.list-item-wrapper .column-one-third input {
    width: 90%;
}

.button-add-another {
    background-color: #eee;
    color: #000;
    box-shadow: 0 2px 0 #666;
}

.button-add-another:hover {
    background-color: #ccc;
    color: #000;
    box-shadow: 0 2px 0 #666;
}

.button-add-another:focus {
    background-color: #ccc;
    color: #000;
    box-shadow: 0 2px 0 #666;
}





.modified-govuk-box {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.govuk-currency-input__inner {
    position: relative;
}

.govuk-currency-input__inner__input {
    padding-left: 25px;
    width: 25%;
}

.govuk-currency-input__inner__unit {
    position: absolute;
    bottom: 5px;
    left: 10px;
    font-weight: bold;
}

.data-summary {
    @extend %contain-floats;

    border-bottom: 1px solid $border-colour;
    margin-bottom: 2em;
    max-width: 30em;
}

.data-summary-key,
.data-summary-value {
    @include box-sizing(border-box);

    border-top: 1px solid $border-colour;
    float: left;
    padding: .63158em 1.05263em .47368em 0;
    width: 50%;
}

.data-summary-key {
    clear: left;
}

.payment-link {
    float: right;
    font-weight: 700;
    margin: 0;
}

.th {
    margin-top: 3em;
    max-width: 30em;
}

@media (max-width: 640px) {
    width: 90%;
    margin: auto;
    display: block;
}

.form-control-3-4 {
    width: 400px;
}

.form-control-1-4 {
    width: 25%;
}

.narrow {
    width: 12.5%;
}


.details summary {
    display: inline-block;
    color: #005ea5;
    cursor: pointer;
    position: relative;
    margin-bottom: 0.2631578947em;
}

.form-group .panel-border-narrow:last-child {
    margin-top: 10px;
    margin-bottom: 20px;
}

.form-group .panel-border-narrow {
    float: left;
    width: 100%;
    padding-bottom: 10px;
}

@import 'addressPicker';

.remove-link {
    position: absolute;
    left: 13em;
    top: 0.3em;
    width: 12rem;
    cursor: pointer;
}

@media (max-width: 640px) {
    .remove-link {
      top: 2.5em;
      left: 0em;
      display: block;
    }
    .missingRentPayment-row {
      margin-bottom: 2em;
    }
}

.manual-address {
    width: 100%;
}

@import 'layout-index';
