{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit {% endblock %} {% block content %}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <a href="/onlineform/joint-tenancy-partner.html" class="link-back">Back</a>
            <h1 class="heading-large">Partner's name</h1>
            <!--         <p>We need this so we can pay you.</p>
 -->
            <fieldset>
                <div class="form-group">
                    <label class="form-label" for="first-name-partner">First name</label>
                    <input class="form-control" id="first-name-partner" name="first-name-partner" type="text">
                </div>
                <div class="form-group">
                    <label class="form-label" for="surname-partner">Surname</label>
                    <input class="form-control" id="surname-partner" name="surname-partner" type="text">
                </div>
                <form lpformnum="1">
                    <div class="form-group">
                        <fieldset>
                            <legend>
                                <label class="form-label" for="first-name-2">Date of birth</label>
                                <span class="form-hint">For example, 31 3 1980</span>
                            </legend>
                            <div class="form-date">
                                <div class="form-group form-group-day">
                                    <label class="form-label" for="dob-day-partner">Day</label>
                                    <input class="form-control" id="dob-day-partner" name="dob-day-partner" type="number" pattern="[0-9]*" min="0" max="31">
                                </div>
                                <div class="form-group form-group-month">
                                    <label class="form-label" for="dob-month-partner">Month</label>
                                    <input class="form-control" id="dob-month-partner" name="dob-month-partner" type="number" pattern="[0-9]*" min="0" max="12">
                                </div>
                                <div class="form-group form-group-year">
                                    <label class="form-label" for="dob-year-partner">Year</label>
                                    <input class="form-control" id="dob-year-partner" name="dob-year-partner" type="number" pattern="[0-9]*" min="0" max="2016">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </form>
                <!--    <div class="form-group">
        <label class="form-label-bold" for="first-name-2">Account number</label>
        <input class="form-control" id="first-name-2" name="first-name-2" type="text">
       </div> -->
                <!--  <p>
  <a href="#">I don't have an email address</a>
</p> -->
                <p><a href="/onlineform/rent-details.html" class="button">Continue</a></p>
                <p>
        </div>
    </div>
</main>
{% endblock %}