{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit {% endblock %} {% block content %}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <a href="/onlineform/partner-name.html" class="link-back">Back</a>
            <h1 class="heading-large">Rent details</h1>
            <!--         <p>We need this so we can pay you.</p>
 -->
            <fieldset>
                <div class="form-group">
                    <label class="form-label-bold" for="total-rent-outstanding">Total rent amount outstanding</label>
                    <input class="form-control" id="total-rent-outstanding" name="total-rent-outstanding" type="number">
                </div>
                <div class="form-group">
                    <label class="form-label-bold" for="rent-free-weeks">Number of rent free weeks</label>
                    <input class="form-control" id="rent-free-weeks" name="rent-free-weeks" type="number">
                </div>
                <form>
                    <div class="form-group">
                        <fieldset>
                            <legend>
                                <label class="form-label-bold">How frequently is the rent paid?</label>
                            </legend>
                            <div class="multiple-choice">
                                <input id="radio-1" type="radio" name="radio-group" value="Weekly">
                                <label for="radio-1">Weekly</label>
                            </div>
                            <div class="multiple-choice">
                                <input id="radio-2" type="radio" name="radio-group" value="Fornightly">
                                <label for="radio-2">Fornightly</label>
                            </div>
                            <div class="multiple-choice">
                                <input id="radio-3" type="radio" name="radio-group" value="Monthly">
                                <label for="radio-3">Monthly</label>
                            </div>
                        </fieldset>
                    </div>
                </form>
                <p><a href="/onlineform/rent-arrears-details.html" class="button">Continue</a></p>
                <p>
        </div>
    </div>
</main>
{% endblock %}