{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit {% endblock %} {% block content %}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <form action="/onlineform/check-your-answers-v2" method="get" class="form">
                <a href="/onlineform/rent-statement.html" class="link-back">Back</a>
                <h2 class="heading-large">Upload your rent statement</h2>
                <p>Your rent statement might be in your Documents, Downloads or desktop folder.
                    <br>
                    </br>
                    <input type="submit" class="button" value="Upload"> </form>
            <p>
        </div>
    </div>
</main>
{% endblock %}