{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="/onlineform/start.html" class="link-back">Back</a>

        <h2 class="heading-large">What is this a request for?</h2>
<p>Please select all that apply:</p>


        <form action="/postcode_v6/email-type" method="post" class="form">
<form>
  <fieldset>

    <div class="multiple-choice">
      <input id="request-type-1" name="request-types" type="checkbox" value="request-rent">
      <label for="request-type-1">Direct rent payment</label>
    </div>
    <div class="multiple-choice">
      <input id="request-type-2" name="request-types" type="checkbox" value="request-arrears">
      <label for="request-type-2">Re-payment of arrears/third party deductions</label>
    </div>
    <div class="multiple-choice">
      <input id="request-type-3" name="request-types" type="checkbox" value="request-temp">
      <label for="request-type-3">Direct rent payment for temporary accommodation</label>
    </div>

  </fieldset>
</form>

</form>

<br>
  </br>


      <p><a href="/onlineform/request-reason" class="button">Continue</a></p>
        <p>


    </div>
  </div>
</main>

{% endblock %}
