{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-large">What is the reason for this request?</h1>
<p>Please select all that apply:</p>


        <form action="/postcode_v6/email-type" method="post" class="form">
<form>
  <fieldset>

    <div class="multiple-choice">
      <input id="reason-type-1" name="reason-types" type="checkbox" value="reason-arrears">
      <label for="reason-type-1">The tenant has been in arrears for 8 weeks</label>
    </div>
    <div class="multiple-choice">
      <input id="reason-type-2" name="reason-types" type="checkbox" value="reason-arrears2">
      <label for="reason-type-2">The tenant has history of being in arrears</label>
    </div>
    <div class="multiple-choice">
      <input id="reason-type-3" name="reason-types" type="checkbox" value="reason-credit">
      <label for="reason-type-3">The tenant has history of bad credit</label>
    </div>
     <div class="multiple-choice">
      <input id="reason-type-3" name="reason-types" type="checkbox" value="reason-mentalhealth">
      <label for="reason-type-3">The tenant has mental health problems</label>
    </div>
     <div class="multiple-choice">
      <input id="reason-type-3" name="reason-types" type="checkbox" value="reason-care">
      <label for="reason-type-3">The tenant has recently left care</label>
    </div>
    <div class="multiple-choice">
      <input id="reason-type-3" name="reason-types" type="checkbox" value="reason-addiction">
      <label for="reason-type-3">The tenant has addiction problems</label>
    </div>

  </fieldset>
</form>

</form>

<br>
  </br>


      <p><a href="/onlineform/landlord-name.html" class="button">Continue</a></p>
        <p>


    </div>
  </div>
</main>

{% endblock %}
