{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit ss {% endblock %} {% block content %}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
        Apply for a direct payment of rent
      </h1>
            <p>Use this service if you're a landlord and your tenant is getting Universal Credit.</p>
            <p>You can ask for the following to be paid directly from their benefit:</p>
            <ul class="list list-bullet">
                <li>regular monthly rent</li>
                <li>re-payment of arrears or third party deductions</li>
                <li>payment for temporary accommodation</li>
            </ul>
            <div class="panel panel-border-wide">
                <p>
                    You'll need to give your bank details to use this service.
                </p>
            </div>
            <p><a href="/onlineform/request-type.html" class="button button-start">Start now</a></p>
            <h2 class="heading-medium">
          Before you start
        </h2>
            <p>You can also <a href="#">apply by post</a>, but it will take longer to process your application.</p>
            <p>The online service is also available in <a href="#">Welsh (Cymraeg)</a>.</p>
        </div>
    </div>
    </div>
</main>
{% endblock %}