{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit {% endblock %} {% block content %}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <a href="/onlineform/tenant-address-entry.html" class="link-back">Back</a>
            <h1 class="heading-large">Tenant's address</h1>
            <p>Postcode:
                <br>
                <span style="font-weight:bold">OL1 4PB</span> &nbsp; <a href="#">Change</a>
            </p>
            <div class="form-group">
                <label class="form-label" for="select-box">Select address:</label>
                <select class="form-control" id="select-box" name="select-box">
                    <option>1 Lower Dingle, Oldham</option>
                    <option>2 Lower Dingle, Oldham</option>
                    <option>3 Lower Dingle, Oldham</option>
                </select>
            </div>
            <p>
                <a href="#">I can't find my address on the list</a>
            </p>
            <p><a href="/onlineform/partner.html" class="button">Continue</a></p>
            <p>
        </div>
    </div>
</main>
{% endblock %}