{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
        <a href="/onlineform/landlord-bank.html" class="link-back">Back</a>


        <h1 class="heading-large">Tenant's details</h1>
<!--         <p>We need this so we can pay you.</p>
 -->
        <fieldset>

        <div class="form-group">
        <label class="form-label" for="first-name-2">First name</label>
        <input class="form-control" id="first-name-2" name="first-name-2" type="text">
       </div>

          <div class="form-group">
        <label class="form-label" for="first-name-2">Surname</label>
        <input class="form-control" id="first-name-2" name="first-name-2" type="text">
       </div>

       <form lpformnum="1">
  <div class="form-group">
    <fieldset>
      <legend>
              <label class="form-label" for="first-name-2">Date of birth</label>
        <span class="form-hint">For example, 31 3 1980</span>
      </legend>
      <div class="form-date">
        <div class="form-group form-group-day">
          <label class="form-label" for="dob-day">Day</label>
          <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
        </div>
        <div class="form-group form-group-month">
          <label class="form-label" for="dob-month">Month</label>
          <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
        </div>
        <div class="form-group form-group-year">
          <label class="form-label" for="dob-year">Year</label>
          <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2016">
        </div>
      </div>
    </fieldset>
  </div>
</form>


       <div class="form-group">
                  <label class="form-label" for="first-name-2">Phone number</label>
                    <input class="form-control" id="first-name-2" name="first-name-2" type="text">
                </div>

                            <form action="address-postcode" method="POST" autocomplete="off">
                              <div class="form-group" data-required data-error="Enter your postcode">
                                <label for="postcode" class="form-label">
                                  Postcode
                                </label>
              
                            <div class="c-field-submit__row">

                          <div class="c-field-submit__capture">
                            <input class="form-control form-control-1-1" id="postcode" type="text" name="postcode" class="form-control form-control-1-4" value="{{ postcode }}">
                          </div>

                          <div class="c-field-submit__action">
                            <input type="submit" class="button" value="Find UK address">
                          </div>

                        </div>
                          </form>
                          <p><a href="contact-details">Enter address manually</a></p>

    <!--    <div class="form-group">
        <label class="form-label-bold" for="first-name-2">Account number</label>
        <input class="form-control" id="first-name-2" name="first-name-2" type="text">
       </div> -->
   
     <!--  <p>
  <a href="#">I don't have an email address</a>
</p> -->

   <p><a href="/onlineform/partner.html" class="button">Continue</a></p>
        <p>



    
    </div>
  </div>
</main>

{% endblock %}
