{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit {% endblock %} {% block content %}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <a href="/onlineform_v6_social/service-charge.html" class="link-back">Back</a>
            <h1 class="heading-large">What type of service charges do you ask for?</h1>
            <p>Please select all that apply:</p>
            <form action="/onlineform_v6_social/service-charge-details" method="post" class="form">
                <!--                     << health >>
 -->
                <div class="form-group">
                    <fieldset>
                        <div id="reasons_div">
                            <h4 class="heading-small">Property maintenance</h4>
                            <div class="multiple-choice">
                                <input id="reason-type-1" name="maintainance" type="checkbox" value="repairs" data-uncheck="['other']">
                                <label for="reason-type-1>Internal and external repairs</label>
                            </div>
                            <div class=" multiple-choice ">
                                <input id="reason-type-2 " name="maintainance " type="checkbox " value="window cleaning " data-uncheck="[ 'other'] ">
                                <label for="reason-type-2 ">Window cleaning on upper floors of a multi-storey building</label>
                            </div>
                    </fieldset>
                    <!--                     << addiction and domestic violence >>
 -->
                    <!--                     << family >>
 -->
                    <fieldset>
                        <h4 class="heading-small ">Communal areas</h4>
                        <span class="form-hint ">Includes ongoing maintenance and/or costs for heating, water and electricity.</span>
                        <div class="multiple-choice ">
                            <input id="reason-type-3 " name="communalareas " type="checkbox " value="upkeep of communal areas " data-uncheck="[ 'other'] ">
                            <label for="reason-type-3 ">Gardens
                            </label>
                        </div>
                        <div class="multiple-choice ">
                            <input id="reason-type-4 " name="communalareas " type="checkbox " value="Utility " data-uncheck="[ 'other'] ">
                            <label for="reason-type-4 ">Car or bike parking (not including security personnel)
                            </label>
                        </div>
                        <div class="multiple-choice ">
                            <input id="reason-type-5 " name="communalareas " type="checkbox " value="Laundry facilities " data-uncheck="[ 'other'] ">
                            <label for="reason-type-5 ">Laundry facilities</label>
                        </div>
                        <div class="multiple-choice ">
                            <input id="reason-type-6 " name="communalareas " type="checkbox " value="Children’s play areas " data-uncheck="[ 'other'] ">
                            <label for="reason-type-6 ">Children’s play areas</label>
                        </div>
                        <div class="multiple-choice ">
                            <input id="reason-type-7 " name="communalareas " type="checkbox " value="orridors and entrances " data-uncheck="[ 'other'] ">
                            <label for="reason-type-7 ">Corridors and entrances</label>
                        </div>
                        <div class="multiple-choice ">
                            <input id="reason-type-8 " name="communalareas " type="checkbox " value="Communal lifts " data-uncheck="[ 'other'] ">
                            <label for="reason-type-8 ">Communal lifts</label>
                        </div>
                    </fieldset>
                    <!--                     << money and housing >>
 -->
                    <fieldset>
                        <h4 class="heading-small ">Communal services</h4>
                        <div class="multiple-choice ">
                            <input id="reason-type-9 " name="communalservices " type="checkbox " value="Secure building access " data-uncheck="[ 'other'] ">
                            <label for="reason-type-9 ">Secure building access
                            </label>
                        </div>
                        <div class="multiple-choice ">
                            <input id="reason-type-10 " name="communalservices " type="checkbox " value="Refuse collection " data-uncheck="[ 'other'] ">
                            <label for="reason-type-10 ">Refuse collection
                            </label>
                        </div>
                        <div class="multiple-choice ">
                            <input id="reason-type-11 " name="communalservices " type="checkbox " value="CCTV " data-uncheck="[ 'other'] ">
                            <label for="reason-type-11 ">CCTV
                            </label>
                        </div>
                        <div class="multiple-choice ">
                            <input id="reason-type-12 " name="communalservices " type="checkbox " value="TV and radio aerials " data-uncheck="[ 'other'] ">
                            <label for="reason-type-12 ">TV and radio aerials
                            </label>
                        </div>
                        <div class="multiple-choice ">
                            <input id="reason-type-13 " name="communalservices " type="checkbox " value="Health and safety assessments " data-uncheck="[ 'other'] ">
                            <label for="reason-type-13 ">Health and safety assessments
                            </label>
                        </div>
                        <div class="multiple-choice ">
                            <input id="reason-type-14 " name="communalservices " type="checkbox " value="Concierge or caretaker " data-uncheck="[ 'other'] ">
                            <label for="reason-type-14 ">Concierge or caretaker
                            </label>
                        </div>
                        <div class="multiple-choice ">
                            <input id="reason-type-15 " name="communalservices " type="checkbox " value="Costs for building management and administration " data-uncheck="[ 'other'] ">
                            <label for="reason-type-15 ">Costs for building management and administration (including third parties)
                            </label>
                        </div>
                    </fieldset>
                    <fieldset>
                        <h4 class="heading-small ">Essential items</h4>
                        <div class="multiple-choice ">
                            <input id="reason-type-16 " name="essential " type="checkbox " value="Furniture or domestic appliances " data-uncheck="[ 'other'] ">
                            <label for="reason-type-16 ">Furniture or domestic appliances
                            </label>
                        </div>
                    </fieldset>
                    <fieldset>
                        <h4 class="heading-small ">Or</h4>
                        <div class="multiple-choice " data-target="other-service ">
                            <input id="reason-type-17 " name="none " type="checkbox " value="other " data-uncheck="[ 'Mental health condition', 'Drug, alcohol or addiction problems', 'Learning difficulties', 'Family with multiple, complex needs', 'Young claimant', 'Severe or multiple debt problems', 'In temporary and/or supported accommodation', 'Homeless', 'At threat of eviction or repossession'] ">
                            <label for="reason-type-17 ">None of the above</label>
                        </div>
                        <div class="panel panel-border-narrow js-hidden " id="other-reason ">
                            <label class="form-label " for="none ">Please tell us more about your service charge</label>
                            <textarea class="form-control " name="maintainance " rows="5 "></textarea>
                        </div>
                    </fieldset>
                    <br>
                    <input type="submit " class="button " value="Continue ">
            </form>
            </div>
</main>
{% endblock %} {% block page_scripts %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    window.CHECKBOX_UNCHECK.setup()
    var inputs = document.querySelectorAll('#reasons_div input')
    var textdiv = document.querySelector('#other-reason')
    var textarea = textdiv.querySelector('textarea')
    for (var i = 0; i < inputs.length; i++) {
        inputs[i].addEventListener('click', function(e) {
            if (textdiv.className.indexOf('js-hidden') === -1) {
                textdiv.setAttribute('aria-hidden', true)
                textdiv.className += ' js-hidden'
                textarea.value = ''
            }
        })
    }
})
</script>
{% endblock %}