{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="redirect" method="post">

        <div class="c-field-submit">

          <h1 class="heading-large c-field-submit__heading">Enter your postcode</h1>

          <label for="postcode" class="c-field-submit__label">Enter your full postcode, for example SK4 1EZ or LS11 5BD</label>

          <div class="c-field-submit__row">

            <div class="c-field-submit__capture">
              <input class="form-control form-control-1-1" id="postcode" type="text" name="postcode">
            </div>

            <div class="c-field-submit__action">
              <input type="submit" class="button" value="Submit">
            </div>

          </div>

      </div>

        <div class="form-group">
          <span class="form-hint">Find a postcode using <a href="http://www.royalmail.com/find-a-postcode">Royal Mail's postcode finder</a></span>
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
