{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-large">Your request form</h1>

        <p>This is the form you will need to fill in to request your direct payment.</p>
        <p>Please download this form, and email to <a href="mailto:universalcredithousing.aparequest@dwp.gsi.gov.uk">universalcredithousing.aparequest@dwp.gsi.gov.uk</a></p>
        <br>
        <p><i class="icon icon-file-download" style="vertical-align: middle; margin-right: 10px;"></i> <a href="#" class="bold-xsmall">Download {{ 'full service ' if postcode == 'SK4 1EZ' }} APA request form</a></p>

    </div>
  </div>
</main>

{% endblock %}
