{% extends "../question.html" %}

{% block pageTitle -%}
  Rent details – {{ serviceName }} – GOV.UK
{%- endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post">

      <h1 class="govuk-heading-l">Rent details</h1>

      <div class="govuk-form-group govuk-currency-input">
        <label class="govuk-label" for="rent-amount">
          Rent amount
        </label>
        <div class="govuk-currency-input__inner">
          <span class="govuk-currency-input__unit">£</span>
          <input class="govuk-input govuk-currency-input__input govuk-!-width-one-quarter" aria-describedby="Enter amount in pounds" name="rentAmount" id="rent-amount" type="number" value="{{ data.rentAmount }}" min="0" max="2500" inputmode="decimal">
        </div>
      </div>

      {{ govukRadios({
        idPrefix: "rent-frequency",
        name: "rentFrequency",
        fieldset: {
          legend: {
            text: "How often is the rent paid?"
          }
        },
        items: [
          {
            value: "Weekly",
            text: "Weekly",
            checked: checked("rentFrequency", "Weekly")
          },
          {
            value: "Every 2 weeks",
            text: "Every 2 weeks",
            checked: checked("rentFrequency", "Every 2 weeks")
          },
          {
            value: "Every 4 weeks",
            text: "Every 4 weeks",
            checked: checked("rentFrequency", "Every 4 weeks")
          },
          {
            value: "Monthly",
            text: "Monthly",
            checked: checked("rentFrequency", "Monthly")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save Changes" if isEditMode else "Continue"
      }) }}

      {% if isEditMode %}
        <a href="{{ basePath }}/questions/check-answers" class="cancel-review govuk-body govuk-link--no-visited-state">Cancel</a>
      {% endif %}

      {% set timeoutDescription %}
        <p class="govuk-body">
          You have not done anything on the service for a while.
        </p>
        <p class="govuk-body">
          Your session will end in 5 minutes if you do not do anything on the
          page. You’ll need to start your application again if that happens.
        </p>
      {% endset %}

      {% call govukModalDialogue({
        id: "timeout",
        role: "alertdialog",
        heading: {
          text: "Your session is due to expire in 5 minutes"
        },
        description: {
          html: timeoutDescription
        }
      }) %}
        {{ govukButton({
          text: "Resume application",
          type: "button",
          classes: "govuk-modal-dialogue__continue"
        }) }}

        <a href="{{ basePath }}" class="govuk-modal-dialogue__cancel govuk-body govuk-link--no-visited-state">Start again</a>
      {% endcall %}

    </form>

  </div>
</div>
{% endblock %}

{% block pageScripts %}
  <script>
    var $dialogue = document.querySelector('[data-module="govuk-modal-dialogue"]')
    var $dialogueButtonResume = document.querySelector('.govuk-modal-dialogue__continue')

    if ($dialogue && $dialogueButtonResume) {
      var modal = new window.ModalDialogue($dialogue)
        .init({ focusElement: $dialogueButtonResume })

      // Close dialogue on "Resume application"
      $dialogueButtonResume.addEventListener('click', modal.close)

      // Open modal after 10 seconds
      setTimeout(modal.open, 10000)
    }
  </script>
{% endblock %}
