{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit {% endblock %} {% block content %}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <a href="/onlineform_v6_private/request-type.html" class="link-back">Back</a>
            <h1 class="heading-large">Landlord's details</h1>
            <p>This can be an individual landlord, letting agent or agency.</p>
            <form action="/onlineform_v6_private/tenant-details" method="get" class="form">
                <div class="form-group">
                    <label class="form-label" for="first-name-1">Full name</label>
                    <input class="form-control" id="first-name-1" name="landlord-name" type="text">
                </div>
                <br>
                <div class="form-group">
                    <label class="form-label" for="first-name-2">Phone number</label>
                    <input class="form-control" id="landlord-phone" name="landlord-phone" type="text">
                </div>
                <div class="form-group">
                    <label class="form-label" for="first-name-2">Email address</label>
                    <input class="form-control" id="landlord-email" name="landlord-email" type="text">
                </div>
                <div class="form-group" data-required data-error="Enter your postcode">
                    {% import "onlineform_v2/addressPicker.html" as addressPicker %} {{ addressPicker.get("landlord") }}
                </div>
                <input type="submit" class="button" value="Continue">
            </form>
        </div>
    </div>
</main>
{% endblock %}