@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.c-field-submit {
  margin: 0 0 40px;
  padding: 20px;
  background: govuk-colour("light-grey", $legacy: "grey-3");

  @include clearfix;

  &__row {
    @include clearfix;
  }

  &__capture,
  &__action {
    float: left;
  }

  &__capture {
    margin-right: 10px;
  }
}
