.icon {
  display: inline-block;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: 0 0;
  vertical-align: middle;
}

.icon--file-download {
  width: 30px;
  height: 39px;
  background-image: url("/public/images/icon-file-download.png");
}

@include govuk-device-pixel-ratio {
  .icon--file-download {
    background-image: url("/public/images/icon-file-download@2x.png");
    background-size: 100%;
  }
}
