.icon {
  display: inline-block;
  background-position: 0 0;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 10px;
}

.icon--file-download {
  width: 30px;
  height: 39px;
  background-image: url('/public/images/icon-file-download.png');
}

@include govuk-device-pixel-ratio {
  .icon--file-download {
    background-image: url('/public/images/icon-file-download@2x.png');
    background-size: 100%
  }
}
