// Disables linting for this file only
// sass-lint:disable no-duplicate-properties

@include govuk-exports("govuk/component/timeout") {
  $govuk-dialogue-width: 640px;

  .govuk-modal-dialogue,
  .govuk-modal-dialogue__backdrop {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  // Hide dialogue when closed
  .govuk-modal-dialogue {
    display: none;
  }

  // Show dialogue when opened
  .govuk-modal-dialogue--open {
    display: table;
    display: flex;
    flex-direction: column;
  }

  // Wrapper to handle overflow scrolling
  .govuk-modal-dialogue__wrapper {
    box-sizing: border-box;
    display: table-cell;
    display: flex;
    height: inherit;
    @include govuk-responsive-padding(7, "top");
    @include govuk-responsive-padding(7, "bottom");
    overflow-y: auto;
    vertical-align: middle;
    align-items: center;
  }

  // HTML5 dialogue component
  .govuk-modal-dialogue__box {
    box-sizing: border-box;
    display: block;
    position: relative;
    z-index: 1;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    border: $govuk-focus-width solid govuk-colour("black");
    background: govuk-colour("white");

    // Add focus outline to dialogue
    &:focus {
      outline: $govuk-focus-width solid $govuk-focus-colour;
    }

    // Hide browser backdrop
    &::backdrop {
      display: none;
    }
  }

  // Inner content
  .govuk-modal-dialogue__content {
    @include govuk-responsive-padding(7);
    padding-top: 0;
  }

  // Custom backdrop
  .govuk-modal-dialogue__backdrop {
    opacity: .8;
    background: govuk-colour("black");
    pointer-events: none;
    touch-action: none;
  }

  // New dialogue width, inline button + link
  @include govuk-media-query($from: tablet) {
    .govuk-modal-dialogue__content {
      padding-top: 0;
    }

    .govuk-modal-dialogue__box {
      width: percentage($govuk-dialogue-width / map-get($govuk-breakpoints, desktop));
    }
  }

  // Fixed width
  @include govuk-media-query($from: desktop) {
    .govuk-modal-dialogue__box {
      width: $govuk-dialogue-width;
    }
  }
}
