// Disables linting for this file only
// sass-lint:disable no-duplicate-properties

@include govuk-exports("govuk/component/timeout") {
  $govuk-dialogue-width: 640px;

  // Secondary button variables
  $govuk-dialogue-header-colour: govuk-colour("light-grey", $legacy: "grey-3");

  // Close button variables
  $govuk-dialogue-button-colour: govuk-shade($govuk-dialogue-header-colour, 10%);
  $govuk-dialogue-button-hover-colour: govuk-shade($govuk-dialogue-header-colour, 20%);
  $govuk-dialogue-button-shadow-colour: govuk-shade($govuk-dialogue-header-colour, 40%);
  $govuk-dialogue-button-text-colour: govuk-colour("black");

  .govuk-modal-dialogue,
  .govuk-modal-dialogue__backdrop {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  // Hide dialogue when closed
  .govuk-modal-dialogue {
    display: none;
  }

  // Show dialogue when opened
  .govuk-modal-dialogue--open {
    display: table;
    display: flex;
    flex-direction: column;
  }

  // Wrapper to handle overflow scrolling
  .govuk-modal-dialogue__wrapper {
    box-sizing: border-box;
    display: table-cell;
    display: flex;
    height: inherit;
    @include govuk-responsive-padding(7, "top");
    @include govuk-responsive-padding(7, "bottom");
    overflow-y: auto;
    vertical-align: middle;
    align-items: center;
  }

  // HTML5 dialogue component
  .govuk-modal-dialogue__box {
    box-sizing: border-box;
    display: block;
    position: relative;
    z-index: 1;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    border: $govuk-focus-width solid govuk-colour("black");
    background: govuk-colour("white");

    // Add focus outline to dialogue
    &:focus {
      outline: $govuk-focus-width solid $govuk-focus-colour;
    }

    // Hide browser backdrop
    &::backdrop {
      display: none;
    }
  }

  // Header with close button
  .govuk-modal-dialogue__header {
    @include govuk-clearfix;
    @include govuk-responsive-margin(5, "bottom");
    padding-bottom: $govuk-border-width-form-element;
    background-color: $govuk-dialogue-header-colour;
    text-align: right;
  }

  // Inner content
  .govuk-modal-dialogue__content {
    @include govuk-responsive-padding(6);
    padding-top: 0;
  }

  // Custom backdrop
  .govuk-modal-dialogue__backdrop {
    opacity: .8;
    background: govuk-colour("black");
    pointer-events: none;
    touch-action: none;
  }

  // Crown icon
  .govuk-modal-dialogue__crown {
    display: block;
    margin: 8px;
    @include govuk-responsive-margin(5, "left");
    float: left;
  }

  // Close button
  .govuk-modal-dialogue__close {
    display: block;
    width: auto;
    min-width: 37px;
    margin: 0;
    float: right;
    color: govuk-colour("black");
    background-color: $govuk-dialogue-button-colour;
    box-shadow: 0 $govuk-border-width-form-element 0 $govuk-dialogue-button-shadow-colour;
    @include govuk-typography-weight-bold;
    @include govuk-typography-responsive($size: 27, $override-line-height: 1);

    &,
    &:link,
    &:visited,
    &:active,
    &:hover {
      color: $govuk-dialogue-button-text-colour;
    }

    &:hover {
      background-color: $govuk-dialogue-button-hover-colour;
    }

    &:active {
      top: 0;
    }
  }

  // New dialogue width, inline button + link
  @include govuk-media-query($from: tablet) {
    .govuk-modal-dialogue__content {
      padding-top: 0;
    }

    .govuk-modal-dialogue__box {
      width: percentage($govuk-dialogue-width / map-get($govuk-breakpoints, desktop));
    }

    // Close button
    .govuk-modal-dialogue__close {
      min-width: 46px;
    }
  }

  // Fixed width
  @include govuk-media-query($from: desktop) {
    .govuk-modal-dialogue__box {
      width: $govuk-dialogue-width;
    }
  }
}
