{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit {% endblock %} {% block content %}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <main id="content" role="main">
                <div class="govuk-box-highlight modified-govuk-box">
                    <h1 class="heading-large">
          Application complete
        </h1>
                    <p class="font-medium">
    We’ve sent a confirmation email
    <br> to the email address you provided
</p>
</div>
<h2 class="heading-medium">What happens next</h2>
<p>We’ve sent your application to the Universal Credit housing team.</p>
<p>If your application is successful, the rent will be paid into your bank account on the next payment date.</p>
<p>If we need more information, you will be contacted within 5 working days.</p>
                <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a></p>
        </div>
    </div>
    </main>
    </div>
</main>
{% endblock %}