{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit ss {% endblock %} {% block content %}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h2 class="heading-large">
        Sorry, this service is currently unavailable
      </h2>
            <p>The service is only available between the hours of 9am and 5pm, Monday to Friday.</p>
            <p>If you are having problems during these times this is because we are making changes or improvements to the service. Please try again later.</p>
            <p>
            </p>
            <p>If you are having persistent issues please contact us on <a href="mailto: adpr.pbeta@dwp.gsi.gov.uk">adpr.pbeta@dwp.gsi.gov.uk</a>.</p>
            
        </div>
    </div>
    </div>
</main>
{% endblock %}