{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit ss
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
      Apply for a direct payment <br/> 
      of rent </h1>
      <p>
        Use this tool if you are a Landlord and have a tenant who is in rent arrears and they receive Universal Credit. It will tell you how to ask for rent to be taken direct from their benefit and paid to you.
        </p>

        <p>You’ll need to complete a UC47 form and send it to the Department for Work and Pensions.</p>


      <p><a href="/postcode_v5/entry.html" class="button button-start">Check where to send your form</a></p>


    </div>
  </div>
</main>

{% endblock %}
