{% extends "../page.html" %}

{% block pageTitle -%}
  {{ serviceName }} – GOV.UK
{%- endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post">

      <div class="c-field-submit">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Enter your tenant’s postcode</h1>

        {{ govukLabel({
          "text": "Enter their full postcode, for example, SK4 1EZ or LS11 5BD",
          "for": "tenant-postcode"
        }) }}

        <div class="c-field-submit__row">
          <div class="c-field-submit__capture">
            {{ govukInput({
              formGroup: {
                classes: "govuk-!-margin-bottom-0"
              },
              id: "tenant-postcode",
              name: "tenantPostcode",
              value: data.tenantPostcode,
              autocomplete: 'postal-code'
            }) }}
          </div>

          <div class="c-field-submit__action">
            {{ govukButton({
              text: "Continue",
              classes: "govuk-!-margin-bottom-0"
            }) }}
          </div>
        </div>
      </div>

    </form>

  </div>
</div>
{% endblock %}
