{% macro get(id) %}
<div class="address-picker">
  <div id="input">
    <label for="postcode" class="form-label">Postcode</label>
    <input class="form-control postcode-input" name="{{id}}-postcode" type="text" />
    <button class="button">Find address</button>
    <p><a href="" id="address-manual">Enter address manually</a></p>
  </div>
  <div id="output" class="hidden">
    <span class="heading-small">M410RN</span> <a class="link" id="change">Change</a>
    <h3 class="heading-medium">Select an address</h3>
    <select class="form-control" name="{{id}}-output-address"></select>
  </div>
  <div id="manual" class="hidden">
    <div class="form-group">
      <label class="form-label" for="landlord-address-1">Address Line 1</label>
      <input class="form-control manual-address" name="{{id}}-manual-address" type="text">
    </div>
    <div class="form-group">
      <label class="form-label" for="landlord-address-2">Address Line 2</label>
      <input class="form-control" name="{{id}}-manual-address" type="text">
    </div>
    <div class="form-group">
      <label class="form-label" for="landlord-address-3">Address Line 3</label>
      <input class="form-control" name="{{id}}-manual-address" type="text">
    </div>
    <div class="form-group">
      <label class="form-label" for="landlord-postcode">Postcode</label>
      <input class="form-control postcode-input" name="{{id}}-manual-address" type="text">
    </div>
  </div>
</div>
{% endmacro %}
