{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit {% endblock %} {% block content %}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <a href="/onlineform_v2/service-charge-details.html" class="link-back">Back</a>
            <h1 class="heading-large">
        Check your answers before sending your application
      </h1>
            <!-- <<< MISSING PAYMENTS >>>-->
            <h2 class="heading-medium">
      Missing payment 1</h2>
            <dl class="govuk-check-your-answers cya-questions-short">
                <div>
                    <dt class="cya-question">
                        Date due
                    </dt>
                    <dd class="cya-answer">
                        <p>{{ data['rent-due-date'] }}</p>
                    </dd>
                    <dd class="cya-change">
                        <a href="#">
              Change<span class="visually-hidden"> name</span>
            </a>
                    </dd>
                </div>
                <div>
                    <dt class="cya-question">
                        Amount due
                    </dt>
                    <dd class="cya-answer">
                        <p>{{ data['amount-due'] }}</p>
                    </dd>
                    <dd class="cya-change">
                        <a href="#">
              Change<span class="visually-hidden"> name</span>
            </a>
                    </dd>
                </div>
                <div>
                    <dt class="cya-question">
                        Amount paid
                    </dt>
                    <dd class="cya-answer">
                        <p>{{ data['amount-paid'] }}</p>
                    </dd>
                    <dd class="cya-change">
                        <a href="#">
              Change<span class="visually-hidden"> name</span>
            </a>
                    </dd>
                </div>
            </dl>
            <h2 class="heading-medium">
      Missing payment 2</h2>
      
            <dl class="govuk-check-your-answers cya-questions-short">
                <div>
                    <dt class="cya-question">
                        Date due
                    </dt>
                    <dd class="cya-answer">
                        <p>{{ data['rent-due-date'] }}</p>
                    </dd>
                    <dd class="cya-change">
                        <a href="#">
              Change<span class="visually-hidden"> name</span>
            </a>
                    </dd>
                </div>
                <div>
                    <dt class="cya-question">
                        Amount due
                    </dt>

                    <dd class="cya-answer">
                        <p>{{ data['amount-due'] }}</p>
                    </dd>
                    <dd class="cya-change">
                        <a href="#">
              Change<span class="visually-hidden"> name</span>
            </a>
                    </dd>
                </div>
                <div>
                    <dt class="cya-question">
                        Amount paid
                    </dt>
                    <dd class="cya-answer">
                        <p>{{ data['amount-paid'] }}</p>
                    </dd>
                    <dd class="cya-change">
                        <a href="#">
              Change<span class="visually-hidden"> name</span>
            </a>
                    </dd>
                </div>
            </dl>
            <h2 class="heading-medium">Now send your application</h2>
            <!-- <h1 class="heading-xlarge">Declaration</h1>
 -->
            <p class="text">By sending the application you agree that By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
            <!-- <ul class="list-bullet">
    <li>the information is correct and complete as far as you know</li>
    <li>you&rsquo;ll pay back any money you&rsquo;re overpaid if you&rsquo;re asked to</li>
  </ul> -->
            <div class="legal_message">
                You could be prosecuted or have to pay a financial penalty if you deliberately give the wrong or incomplete information or don&rsquo;t report changes.
            </div>
            <p><a href="/onlineform/confirmation.html" class="button">I agree - send my application</a></p>
            <!-- <p class="text">
        By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <div class="form-group">
        <a href="/onlineform/confirmation.html" class="button">Accept and send your application</a>
      </div>

    </div>
    -->
        </div>
</main>
{% endblock %}