{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit {% endblock %} {% block content %}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <a href="/onlineform_v2/check-your-rent.html" class="link-back">Back</a>
            <main id="content" role="main">
                <div class="govuk-box-highlight">
                    <h1 class="heading-large">
          Application complete
        </h1>
                    <p class="font-medium">
                        You will receive a confirmation
                        <br> via the email address you provided
                    </p>
                </div>
                <h2 class="heading-medium">What happens next</h2>
                <p>We've sent your application to the housing team.</p>
                <p>They will contact you within 5 days if they need any more information.</p>
                <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>
        </div>
    </div>
    </main>
    </div>
</main>
{% endblock %}