{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit {% endblock %} {% block content %}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <a href="/onlineform_v2/request-type.html" class="link-back">Back</a>
            <h1 class="heading-large">What is the reason for this request?</h1>
            <p>Please select all that apply:</p>
            <form action="/onlineform_v2/landlord-details" method="post" class="form">
                <div class="form-group">
                    <fieldset>
                        <div class="multiple-choice">
                            <input id="reason-type-2" name="reason-types" type="checkbox" value="History of arrears" data-uncheck>
                            <label for="reason-type-2">The tenant has history of being in arrears</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="reason-type-3" name="reason-types" type="checkbox" value="History of bad credit" data-uncheck>
                            <label for="reason-type-3">The tenant has history of bad credit</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="reason-type-4" name="reason-types" type="checkbox" value="Health problems" data-uncheck>
                            <label for="reason-type-4">The tenant has health problems</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="reason-type-5" name="reason-types" type="checkbox" value="Recently left care" data-uncheck>
                            <label for="reason-type-5">The tenant has recently left care</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="reason-type-6" name="reason-types" type="checkbox" value="Addiction problems" data-uncheck>
                            <label for="reason-type-6">The tenant has addiction problems</label>
                        </div>
                        <p class="form-block">or</p>
                        <div class="multiple-choice" data-target="other-reason">
                            <input id="reason-type-7" name="reason-types" type="checkbox" value="" uncheck-all>
                            <label for="reason-type-7">None of the above</label>
                        </div>
                        <div class="panel panel-border-narrow js-hidden" id="other-reason">
                            <label class="form-label" for="none">Please tell us more about your reason for application</label>
                            <input class="form-control form-control-3-4" name="reason-types" type="text" id="reason-type-8">
                        </div>
                    </fieldset>
                </div>
                <br>
                </br>
                <input type="submit" class="button" value="Continue">
            </form>
            <p>
        </div>
    </div>
</main>
{% endblock %}