{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit {% endblock %} {% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">How would you like to get updates?</h1>
      <p>You'll get updates on the progress of your application.</p>
      <p>Select at least one:</p>

      <form method="post" class="form">
        <div class="multiple-choice">
          <input id="email" name="contactType" type="checkbox" value="email">
          <label for="email">Email</label>
        </div>
        <div class="multiple-choice">
          <input id="sms" name="contactType" type="checkbox" value="sms">
          <label for="sms">Text message</label>
        </div>
        <div class="multiple-choice">
          <input id="none" name="contactType" type="checkbox" value="none">
          <label for="none">None, I don't want to get updates</label>
        </div>

        <div class="form-group">
          <button type="submit" class="button">Continue</button>
        </div>
      </form>

    </div>
  </div>
</main>

{% endblock %}
