{% extends "../page.html" %}

{% block pageTitle -%}
  Cookies – {{ serviceName }}
{%- endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      You cannot yet apply for arrears
    </h1>

    <h2 class="govuk-heading-m govuk-!-margin-top-7">What happens next?</h2>

    <p>It’s too soon to apply for payment of rent arrears. Wait until your tenant has missed 2 months or more of rent, then try again.</p>

    <p><a class="govuk-link" href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a></p>

  </div>
</div>
{% endblock %}
