{% extends "../page.html" %}

{% block pageTitle -%}
  Cookies – {{ serviceName }}
{%- endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Your cookies are switched off
    </h1>

    <p>Your cookies are switched off on this computer or device.</p>
    <p>You must turn cookies on to complete this application for direct rent payments. Find out <a href="https://ico.org.uk/for-the-public/online/cookies/">how to manage cookies</a>.
    </ul> </p>


    <h2 class="govuk-heading-m">
      If you do not want to use cookies
    </h2>

    <p>If you do not want to use cookies on your computer or device you can:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>use a computer or device belonging to someone else (with their permission)</li>
      <li>use a computer or device at a library or internet cafe</li>
    </ul>

  </div>
</div>
{% endblock %}
