{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit ss
{% endblock %}

{% block content %}



<main id="content" role="main">

<div class="breadcrumbs">
    <a href="/">Universal Credit</a>&rsaquo;
    <a href="/">Guidance for landlords </a>&rsaquo;
    <a href="/">Support for landlords</a>
</div>

  <div class="grid-row">
    <div class="column-two-thirds">

  <h1 class="heading-xlarge">Support for landlords with tenants on Universal Credit</h1>


<aside class="part-navigation-container" role="complementary">
  <nav role="navigation" class="grid-row part-navigation" aria-label="Pages in this guide">
    <div class="column-half">
      <ol class="list list-number" style="font-size:medium">
          <li>
            <a href="/postcode_v3_1/guidance">Managing rent arrears</a>
          </li>
          <li>
            <a href="/postcode_v3_1/tenant_in_arrears">Tenant in rent arrears</a>
          </li>
          <li>
            Apply for a direct payment
          </li>
          <li>
            <a href="/postcode_v3_1/how_DWP_manage_payments">How DWP pay directly to landlords</a>
          </li>
      </ol>
    </div>
    <div class="column-half">
      <ol class="list small list-number" start="5" style="font-size:medium">
          <li>
            <a href="/postcode_v3_1/enquiries">Enquiring about a managed payment</a>
          </li>
          <li>
            <a href="/postcode_v3_1/changes">Changes which may affect the payment</a>
          </li>
          <li>
            <a href="/postcode_v3_1/more_frequent">More frequent payments</a>
          </li>
      </ol>
  </div>
  </nav>
</aside>
<hr>

        <h1 class="heading-medium">
          3. Applying to have the rent paid to landlord (Managed Payment to Landlord Alternative Payment Arrangement)
        </h1>


<div class="govuk-govspeak direction-ltr rich-govspeak disable-youtube">
  <p>If you have a tenant receiving Universal Credit you can apply for a Managed Payment to Landlord (MPTL) using the UC47 request forms.</p>

  <p>Use this service to:</p>

        <ul class="list list-bullet">
          <li>Request a managed payment</li>
          <li>Find out where to send it</li>
          <li>Find which form to use</li>
        </uL>

        <p>Completing this takes around 15 minutes.</p>

        <p>
          <a class="button button-start" href="/postcode_v3_1/start" role="button">Start now</a>
        </p>


<p>If you’re a social landlord you can also apply for a MPTL as part of the housing costs verification process, either by using the form Universal Credit sends to request housing cost details, or by completing the UC47.</p>

<p>Once the application has been processed the landlord will be advised of the decision. If the application is refused DWP won’t tell you the reason why. This is because of data sharing regulations and claimant confidentiality.</p>

<p>The amount you receive may change from month to month depending on the claimant’s Universal Credit award, usually up to a maximum value of the eligible housing costs.</p>

<p>DWP will notify when the MPTL ceases but we won’t tell you the reason why. This is because of data sharing regulations and claimant confidentiality.</p>
</div>


<nav align="right" class="govuk-previous-and-next-navigation" role="navigation" aria-label="Pagination">
  <div align="right'">
        <a href="/postcode_v3_1/how_DWP_manage_payments" rel="next">
          <div class="bold-small">
            Next
            <svg class="pagination-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewbox="0 0 17 13">
              <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
          </div>
            <div class="xsmall">How DWP pay the managed payment to landlord</div>
        </a>
  </div>
</nav>
</div>


<div class="column-third add-title-margin">
    <aside class="govuk-related-items" data-module="track-click" role="complementary">
      <h2 data-track-count="sidebarRelatedItemSection">
        Elsewhere on GOV.UK
      </h2>


      <nav role="navigation">
        <ul>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="1.1" data-track-label="/marriages-civil-partnerships" data-track-options='{"dimension28":"5","dimension29":"Marriages and civil partnerships in the UK"}' href="/marriages-civil-partnerships">UC stuff</a>
            </li>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="1.2" data-track-label="/settle-in-the-uk" data-track-options='{"dimension28":"5","dimension29":"Apply to settle in the UK"}' href="/settle-in-the-uk">Useful landlordy stuff</a>
            </li>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="1.3" data-track-label="/long-residence" data-track-options='{"dimension28":"5","dimension29":"Apply to settle in the UK: long residence"}' href="/long-residence">More useful things</a>
            </li>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="1.4" data-track-label="/government/publications/application-to-naturalise-as-a-british-citizen-form-an" data-track-options='{"dimension28":"5","dimension29":"Application to naturalise as a British citizen: form AN"}' href="/government/publications/application-to-naturalise-as-a-british-citizen-form-an">This is really interesting</a>
            </li>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="1.5" data-track-label="/government/publications/application-to-register-child-under-18-as-british-citizen-form-mn1" data-track-options='{"dimension28":"5","dimension29":"Application to register child under 18 as British citizen: form MN1"}' href="/government/publications/application-to-register-child-under-18-as-british-citizen-form-mn1">And this is super useful</a>
            </li>
        </ul>
      </nav>
  </aside>

</div>

</div>
</main>

{% endblock %}
