{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-large">Do you have an email address?</h1>


        <form action="/postcode_v6/email" method="post" class="form">

          <div class="form-group">
            <fieldset class="inline">

              <legend class="visuallyhidden">Do you have an email address?</legend>


              <div class="multiple-choice">
                <input id="emailyes" type="radio" name="email" value="emailyes">
                <label for="email">Yes</label>
              </div>

              <div class="multiple-choice">
                <input id="emailno" type="radio" name="email" value="emailno">
                <label for="email">No</label>
              </div>

            </fieldset>
          </div>

          <div class="form-group">
            <input type="submit" class="button" value="Continue">
          </div>

        </form>


    </div>
  </div>
</main>

{% endblock %}
