{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-large">Does your email address contain any of the following:</h1>
        <span class="form-hint">For example: joebloggs@example.gsx.uk</span>

        <p></p>

        <ul class="list list-bullet">
        <li>.gsi</li>
        <li>.gsx</li>
        <li>.gcsx</li>
        <li>.cjx</li>
        <li>.cjsm</li>
        <li>.gse</li>
        </ul>

        <form action="/postcode_v6/email-type" method="post" class="form">

          <div class="form-group">
            <fieldset class="inline">

              <legend class="visuallyhidden">Does your email address contain any the following:</legend>

              <div class="multiple-choice">
                <input id="gsiTrue" type="radio" name="gsiTrue" value="true">
                <label for="gsiTrue">Yes</label>
              </div>

              <div class="multiple-choice">
                <input id="gsiFalse" type="radio" name="gsiTrue" value="false">
                <label for="gsiFalse">No</label>
              </div>

            </fieldset>
          </div>

          <div class="form-group">
            <input type="submit" class="button" value="Continue">
          </div>

        </form>


    </div>
  </div>
</main>

{% endblock %}
