{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">




        <h1 class="heading-large">Send your request by email</h1>
 
<!--         <<< form section >>>
 -->
        {% if data['gsiTrue'] == 'true' %}
        <p>1. Click the link below and fill in the details:</p>
        <!-- <li>Download and fill in this form: -->
        <p><i class="icon icon-file-download" style="vertical-align: middle; margin-right: 10px;"></i> <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/608413/uc47-secure-landlord-request-for-a-managed-payment-rent-arrears-deduction.pdf" class="bold-xsmall" target="_blank" >Request form</a></p>
        {% endif %}
        </li>
        </ul>

        {% if data['gsiTrue'] == 'false' %}
        <p>1. Click the link below and fill in the details:</p>
        <p><i class="icon icon-file-download" style="vertical-align: middle; margin-right: 10px;"></i> <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/608414/uc47-non-secure-landlord-request-for-a-managed-payment-rent-arrears.pdf" class="bold-xsmall" target='_blank' >Request form</a></p>
        {% endif %}
        </li>
        </ul>

<!--         <<< point 2 >>>-->
    <!--     <ol class="list list-number" start="2">
        <li>Download the form</ol> -->


       
<!--         <<< email section >>>-->

        {% if data['postcode'] == 'SK4 1EZ' %}
        <ol class="list list-number" start="2">
        <li>Email the form to this address:<br></br>
        <a href="mailto:fullserviceuniversalcredithousing.aparequest@dwp.gsi.gov.uk">fullserviceuniversalcredithousing.aparequest@dwp.gsi.gov.uk</a></li>
        <br>
        </ol>

        {% else %}
        <ol class="list list-number" start="2">
        <li>Email the form to this address:<br>
        <a href="mailto:liveserviceuniversalcredithousing.aparequest@dwp.gsi.gov.uk">liveserviceuniversalcredithousing.aparequest@dwp.gsi.gov.uk</a></li>
        </ol>
        {% endif %}
        <br>

                <a class="button" href="/postcode_v6/start" role="button">Start again</a>
                <br>

                <br>
                  </br>      



        

</div>
</div>
</main>


        </div>
        </ul>

        </div>

        

<!--         If the wording for the pdf needs to be different:
 -->
        <!-- <p><i class="icon icon-file-download" style="vertical-align: middle; margin-right: 10px;"></i> <a href="#" class="bold-xsmall">Download {{ 'full service ' if postcode == 'SK4 1EZ' }} APA request form</a></p>
 -->







    </div>
  </div>
</main>

{% endblock %}
