{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit ss
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
      Apply for a direct payment <br/>
      of rent </h1>

        <p>Only use this tool if you're a landlord and your tenant is receiving Universal Credit.</p>

        <p>The tenant's rent will be paid directly to you from their benefit.</p>

        <p>You can apply if the tenant has:</p>

        <ul class="list list-bullet">
          <li>at least 2 months rent</li>
          <li>mental health problems</li>
          <li>addiction problems</li>
          <li>has recently left care</li>
          <li>bad credit</li>
        </ul>

        <p>You'll be given the form to download and the email address to send it to.</p>

        <div class="panel panel-border-wide">
        <p>
          You'll need to enter the postcode they are living at (or will be moving into).
        </p>
        </div>




      <p><a href="/postcode_v6/entry.html" class="button button-start">Start</a></p>


    </div>
  </div>
</main>

{% endblock %}
