{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit ss
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
      Apply for a direct payment <br/> 
      of rent </h1>
      
        <p>You can apply for a direct payment of rent online</p>

        <p>You can do this if you are a Landlord and have a tenant who is in rent arrears and they receive Universal Credit. It will tell you how to ask for rent to be taken direct from their benefit and paid to you.
        </p>

        <p>You'll be given the form to download and the email address to send it to.</p>

        <div class="panel panel-border-wide">
        <p>
          Before you apply, you will need your tenants postcode.
        </p>
        </div>

        


      <p><a href="/postcode_v6/entry.html" class="button button-start">Start</a></p>

      <h2 class="heading-medium">
      What you need to know </h2>

      <div class="panel panel-border-wide">
        <p>
          There’s a different way to access this service in <a href="#">Welsh.</a>
      </p>

        </div>


    </div>
  </div>
</main>

{% endblock %}
