{% extends "../question.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post">

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "two-months-missed",
        name: "twoMonthsMissed",
        fieldset: {
          legend: {
            text: "Has your tenant missed 2 months or more of rent?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: checked("twoMonthsMissed", "yes")
          },
          {
            value: "no",
            text: "No",
            checked: checked("twoMonthsMissed", "no")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save Changes" if isEditMode else "Continue"
      }) }}

    </form>

  </div>
</div>
{% endblock %}
