{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit ss
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Request direct rent payments if you're a landlord
      </h1>
      <p>
        If a tenant is in rent arrears of 2 or more months you can ask for payments to be taken direct from their Universal Credit. </p>

        <p>You can ask for regular direct payments of rent (known as ‘managed payments’), deductions for rent arrears, or both.</p>

        <p>You will need to complete and send a form to the Department for Work and Pensions.
      </p>


      <p><a href="/postcode_v3/entry.html" class="button button-start">Check where to send your form</a></p>

      <h2 class="heading-large">Before you start</h2>
      <p>You can also <a href="#">request a direct payment by post</a>.</p>


    </div>
  </div>
</main>

{% endblock %}
