{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit {% endblock %} {% block content %}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <a href="/onlineform_v5/service-charge" class="link-back">Back</a>
            <form action="/onlineform_v5/dr-check-your-answers" method="post" class="form">
                <h1 class="heading-large">Landlord's bank details</h1>
                <p>The rent will be paid into this bank account.</p>
                <fieldset>
                    <form action="/onlineform_v5/check-your-answers" method="post" class="form">
                        <div class="form-group">
                            <label class="form-label" for="account-name">Account holder</label>
                            <input class="form-control" id="account-name" name="account-name" type="text">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="sort-code">Sort code</label>
                            <legend>
                                <span class="form-label"></span>
                            </legend>
                            <div class="form-date">
                                <div class="form-group form-group-day">
                                    <label class="form-label" for="dob-day"></label>
                                    <input class="form-control" id="sortcode-1" name="sortcode-1" type="number" pattern="[0-9]*" min="0" max="31">
                                </div>
                                <div class="form-group form-group-month">
                                    <label class="form-label" for="sortcode-2"></label>
                                    <input class="form-control" id="sortcode-2" name="sortcode-2" type="number" pattern="[0-9]*" min="0" max="12">
                                </div>
                                <div class="form-group form-group-month">
                                    <label class="form-label" for="sortcode-3"></label>
                                    <input class="form-control" id="sortcode-3" name="sortcode-3" type="number" pattern="[0-9]*" min="0" max="12">
                                </div>
                </fieldset>
                <div class="form-group">
                    <label class="form-label" for="account-number">Account number</label>
                    <input class="form-control" id="account-number" name="account-number" type="text">
                </div>
                <div class="form-group">
                    <label class="form-label" for="ref-number">Payment reference</label>
                    <span class="form-hint">
              The reference you choose here is what you’ll see on your bank statement
            </span>
                    <input class="form-control" id="tenant-ref" name="tenant-ref" type="text">
                </div>
                <!-- <div class="form-group">
    <label class="form-label" for="ref-number">Creditor reference number (if known)</label>
    <span class="form-hint">
              You will have this if you’ve previously set up payment schedules with the DWP. It can be found on your last payment schedule. For example 0000012345
            </span>
    <input class="form-control" id="creditor-ref" name="creditor-ref" type="text">
    <p></p>
    <div class="multiple-choice" data-target="creditor-ref">
        <input id="creditorRefYes" type="radio" name="creditor" value="true">
        <label for="creditorRefYes">Yes</label>
    </div>
    <div class="panel panel-border-narrow js-hidden" id="creditor-ref">
        <label class="form-label" for="creditor-ref">Creditor reference number</label>
        <input class="form-control" name="creditor-ref" type="text" id="creditor-ref">
    </div>
    <div class="multiple-choice">
        <input id="creditorRefNo" type="radio" name="creditor" value="false">
        <label for="creditorRefNo">No</label>
    </div>
</div> -->
</details>                <input type="submit" class="button" value="Continue"> </form>
</main>
{% endblock %}