{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit {% endblock %} {% block content %}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <form action="/onlineform_v4/dr-rent-details" method="get" class="form">
                <a href="/onlineform_v5/request-type" class="link-back">Back</a>
                <h2 class="heading-large">Has your tenant missed 2 months or more of rent?</h2>
                <!--             <p><span class= "form-hint">T</p>
 -->
                <div class="form-group">
                    <fieldset class="inline">
                        <div class="multiple-choice">
                            <input id="drArrearsYes" type="radio" name="drarrears" value="true">
                            <label for="drArrearsYes">Yes</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="drArrearsNo" type="radio" name="drarrears" value="false">
                            <label for="drArrearsNo">No</label>
                        </div>
                    </fieldset>
                </div>
                <br>
                </br>
                <input type="submit" class="button" value="Continue"> </form>
            <p>
        </div>
    </div>
</main>
{% endblock %}