{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit {% endblock %} {% block content %}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <main id="content" role="main">
                <div class="govuk-box-highlight modified-govuk-box">
                    <h1 class="heading-large">
          Upload complete
        </h1>
                    <p class="font-medium">
                        You have completed your task and can now delete the application from the email inbox. </p>
                </div>
            </main>
        </div>
</main>
{% endblock %}