{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit ss {% endblock %} {% block content %}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
        This would be in your email inbox
      </h1>
            <p>This email contains an application from a landlord for a direct rent payment, rent arrears payment or both. It can be viewed in the attachment.</p>
            <h2 class="heading-small">To do:</h2>
            <ul class="list list-number">
                <li>Upload the PDF attachment to the claimant’s case in the UC build.</li>
                <li>Allocate the task accordingly.</li>
                <li><a href="/case_manager_email/confirmation_cm.html">Confirm the tasks have been completed.</a></li>
                <li>Delete this email.</li>
            </ul>
        </div>
</main>
{% endblock %}