{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit {% endblock %} {% block content %}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <a href="/onlineform_v7/dr-tenant-details.html" class="link-back">Back</a>
            <h1 class="heading-large">Landlord details</h1>
            <p>This can be an individual landlord, letting agent or agency.</p>
            <form action="/onlineform_v7/dr-landlord-bank" method="post" class="form">
                <div class="form-group">
                    <label class="form-label" for="first-name-1">Full name</label>
                    <input class="form-control" id="first-name-1" name="landlord-name" type="text">
                </div>
                <br>
                <div class="form-group">
                    <label class="form-label" for="first-name-2">Phone number</label>
                    <input class="form-control" id="landlord-phone" name="landlord-phone" type="text">
                </div>
                <div class="form-group">
                    <label class="form-label" for="first-name-2">Email address</label>
                    <input class="form-control" id="landlord-email" name="landlord-email" type="text">
                </div>
                <!-- <div class="form-group" data-required data-error="Enter your postcode">
    {% import "onlineform_v2/addressPicker.html" as addressPicker %} {{ addressPicker.get("landlord") }}
</div> -->
                <div class="form-group">
                    <label class="form-label" for="landlord-address">Address</label>
                    <label class="form-label" for="landlord-street">Building or street</label>
                    <input class="form-control" id="landlord-street" name="landlord-street" type="text">
                    <p></p>
                    <input class="form-control" id="landlord-street-2" name="landlord-street-2" type="text">
                </div>
                <div class="form-group">
                    <label class="form-label" for="landlord-address">Town or city</label>
                    <input class="form-control" id="landlord-town" name="landlord-town" type="text">
                </div>
                <div class="form-group">
                    <label class="form-label" for="landlord-address">County</label>
                    <input class="form-control" id="landlord-county" name="landlord-county" type="text">
                </div>
                <div class="form-group">
                    <label class="form-label" for="landlord-address">Postcode</label>
                    <input class="form-control" id="landlord-postcode" name="landlord-postcode" type="text">
                </div>
                <input type="submit" class="button" value="Continue">
            </form>
        </div>
    </div>
</main>
{% endblock %}