{% extends "../question.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post">

      <h1 class="govuk-heading-l">Landlord details</h1>
      <p>This can be an individual landlord, letting agent or agency.</p>

      {{ govukInput({
        label: {
          text: "Full name"
        },
        id: "landlord-full-name",
        name: "landlordFullName",
        classes: "govuk-input--width-20",
        value: data.landlordFullName,
        autocomplete: "name"
      }) }}

      {{ govukInput({
        label: {
          text: "Phone number"
        },
        id: "landlord-telephone",
        name: "landlordTelephone",
        classes: "govuk-input--width-20",
        value: data.landlordTelephone,
        type: "tel"
      }) }}

      {{ govukInput({
        label: {
          text: "Email address"
        },
        id: "landlord-email",
        name: "landlordEmail",
        classes: "govuk-input--width-20",
        value: data.landlordEmail,
        type: "email"
      }) }}

      {% call govukFieldset({
        legend: {
          text: "Address",
          isPageHeading: false
        }
      }) %}

        {{ govukInput({
          label: {
            html: 'Building and street<span class="govuk-visually-hidden"> line 1 of 2</span>'
          },
          id: "landlord-address1",
          name: "landlordAddress1",
          value: data.landlordAddress1,
          autocomplete: 'address-line1'
        }) }}

        {{ govukInput({
          label: {
            html: 'Building and street line 2 of 2',
            classes: "govuk-visually-hidden"
          },
          id: "landlord-address2",
          name: "landlordAddress2",
          value: data.landlordAddress2,
          autocomplete: 'address-line2'
        }) }}

        {{ govukInput({
          label: {
            text: "Town or city"
          },
          id: "landlord-town",
          name: "landlordTown",
          classes: "govuk-!-width-two-thirds",
          value: data.landlordTown,
          autocomplete: 'address-level2'
        }) }}

        {{ govukInput({
          label: {
            text: "County"
          },
          id: "landlord-county",
          name: "landlordCounty",
          classes: "govuk-!-width-two-thirds",
          value: data.landlordCounty,
          autocomplete: 'address-level1'
        }) }}

        {{ govukInput({
          label: {
            text: "Postcode"
          },
          id: "landlord-postcode",
          name: "landlordPostcode",
          classes: "govuk-input--width-10",
          value: data.landlordPostcode,
          autocomplete: 'postal-code'
        }) }}
      {% endcall %}

      {{ govukButton({
        text: "Save Changes" if isEditMode else "Continue"
      }) }}

      {% if isEditMode %}
        <a href="{{ basePath }}/questions/check-answers" class="cancel-review govuk-body govuk-link--no-visited-state">Cancel</a>
      {% endif %}

    </form>

  </div>
</div>
{% endblock %}
