{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-large">You've asked for text messages</h1>
        <p>This is the phone number you'll get updates on.</p>
        <p>You can change this if you want to use a different number.</p>

<div class="form-group">
        <label class="form-label-bold" for="first-name-2">Mobile phone number</label>
        <input class="form-control" id="first-name-2" name="first-name-2" type="text" value="07825103426">
       </div>

<br>
</br>
      <p><a href="/notify/declaration.html" class="button">Continue</a></p>
        <p>


    </div>
  </div>
</main>

{% endblock %}
