{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-large">You selected text message</h1>
        <p>Is this the phone number you would like us to contact you on? Please update if you would like us to use a different one.</p>

<div class="form-group">
        <label class="form-label-bold" for="first-name-2">Text message</label>
        <input class="form-control" id="first-name-2" name="first-name-2" type="text" value="07825103426">
       </div>
               
<br>
</br>
      <p><a href="/notify_2/declaration.html" class="button">Continue</a></p>
        <p>

    
    </div>
  </div>
</main>

{% endblock %}
