{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-large">Landlord details</h1>


   

<div class="form-group">
  <label class="form-label-bold" for="first-name-2">Full name</label>
  <span class="form-hint">
              This can be an individual landlord or letting agent
            </span>
  <input class="form-control" id="first-name-2" name="first-name-2" type="text">
</div>
<!-- <div class="form-group">
  <label class="form-label" for="last-name-2">Line 1 of address</label>
  <input class="form-control" id="last-name-2" name="last-name-2" type="text">
</div> -->

   <p><a href="/notify_2/landlord-address-entry.html" class="button">Continue</a></p>
        <p>


    </div>
  </div>
</main>

{% endblock %}
