{% extends "../page.html" %}

{% block pageTitle -%}
  Sorry, the service is unavailable – {{ serviceName }} – GOV.UK
{%- endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Sorry, the service is unavailable
    </h1>

    <p>The service is only available between the hours of 9am and 5pm, Monday to Friday.</p>
    <p>If you are having problems during these times this is because we are making changes or improvements to the service. Please try again later.</p>
    <p>If you are having persistent issues please contact us on <a href="mailto:adpr.pbeta@dwp.gsi.gov.uk" class="govuk-link">adpr.pbeta@dwp.gsi.gov.uk</a></p>

  </div>
</div>
{% endblock %}
