{% extends "../question.html" %}

{% block pageTitle -%}
  Type of payment – {{ serviceName }} – GOV.UK
{%- endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <form method="post">


      {% from "govuk/components/input/macro.njk" import govukInput %}

<h1 class="govuk-heading-l">How could we improve this service?</h1>
{{ govukTextarea({

  id: "event-name",
  name: "event-name"
}) }}

      {{ govukButton({
        text: "Save Changes" if isEditMode else "Finish"
      }) }}

      {% if isEditMode %}
        <a href="{{ basePath }}/questions/check-answers" class="cancel-review govuk-body govuk-link--no-visited-state">Cancel</a>
      {% endif %}

    </form>

  </div>
</div>
{% endblock %}
