{% extends "../question.html" %}

{% block pageTitle -%}
  Type of payment – {{ serviceName }} – GOV.UK
{%- endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <form method="post">

      {{ govukRadios({
        idPrefix: "type-of-payment",
        name: "typeOfPayment",
        fieldset: {
          legend: {
            text: "How easy was it to use Apply for direct rent payments?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Very easy",
            text: "Very easy",
            checked: checked("veryEasy", "Very easy")
          },
          {
            value: "Easy",
            text: "Easy",
            checked: checked("easy", "Easy")
          },
          {
            value: "Neither easy or difficult",
            text: "Neither easy or difficult",
            checked: checked("neitherEasyOrDifficult", "Neither easy or difficult")
          },
          {
            value: "Difficult",
            text: "Difficult",
            checked: checked("difficult", "Difficult")
          },
          {
            value: "Very difficult",
            text: "Very difficult",
            checked: checked("veryDifficult", "Very difficult")
          }

        ]
      }) }}

      {{ govukButton({
        text: "Save Changes" if isEditMode else "Continue"
      }) }}

      {% if isEditMode %}
        <a href="{{ basePath }}/questions/check-answers" class="cancel-review govuk-body govuk-link--no-visited-state">Cancel</a>
      {% endif %}

    </form>

  </div>
</div>
{% endblock %}
