{% extends "layout-index.html" %} {% block page_title %} GOV.UK prototype kit {% endblock %} {% block content %}
<div class="homepage-top">
    <div class="homepage-top-content">
        <h1 class="heading-xlarge">
      {{serviceName}}
      <span>Prototypes</span>
    </h1>
    </div>
</div>
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            {# Start of most recent box #}
            <div class="most-recent">
                {# Start of prototype write up #}
                <div class="prototype-write-up">
                    <div class="grid-row">
                        <div class="column-one-third">
                            <dl>
                                <dt class="heading-small">Date of release</dt>
                                <dd>Not realeased yet</dd>
                            </dl>
                        </div>
                        <div class="column-one-third">
                            <dl>
                                <dt class="heading-small">Feature</dt>
                                <dd>Online form v2</dd>
                            </dl>
                        </div>
                        <div class="column-one-third">
                            <dl>
                                <dt class="heading-small">Related stories</dt>
                                <dd>n/a</dd>
                            </dl>
                        </div>
                    </div>
                    <h3 class="heading-small">Changes</h3>
                    <p>
                        After a meeting with UC47 SME's, we looked at items that are not used for APA purposes, and removed them:
                        <br> - Temporary accommodation
                        <br> - Service charge details
                        <br> - Partner details
                        <br> - NINO
                        <br> Adding more rent arrears options: missing payment 1, 2, 3 etc
                    </p>
                    <h3 class="heading-small">Hypothesis</h3>
                    <p>We believe that by adding more 'missing payment' entry options, will allow the user to understand how this input section works. We'll know this when we see users entering information correctly.
                        <br>
                        <br> We believe that case managers do not need some of the information asked for on the APA, to process the APA itself, because we have seen them using this for other related housing work. So if we remove these, we'll see them being able to process the APA anyway.
                    </p>
                    <h3 class="heading-small">Research notes</h3>
                    <p>
                        - Landlords struggled to see the "add another button on rent arrears details"
                    </p>
                    <a href="/onlineform_v2/start.html" class="button button-start">View prototype</a>
                </div>
                {# End of prototype write up #}
            </div>
            {# End of most recent box #}
            <!-- <All versions> -->
            <h2 class="heading-large">All versions</h2> {# Start of hidden panel #}
            <details>
                <summary><span class="summary">Show all versions</span></summary>
                <div class="panel panel-border-narrow">
                    {# Start of prototype write up #}
                    <div class="prototype-write-up">
                        <div class="grid-row">
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Date of release</dt>
                                    <dd>December 2017</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Feature</dt>
                                    <dd>Online form v1</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Related stories</dt>
                                    <dd>n/a</dd>
                                </dl>
                            </div>
                        </div>
                        <h3 class="heading-small">Changes</h3>
                        <p>
                            ...
                        </p>
                        <h3 class="heading-small">Hypothesis</h3>
                        <p>
                            If... then... because.
                        </p>
                        <h3 class="heading-small">Research notes</h3>
                        <p>
                            ...
                        </p>
                        <a href="/notify/start.html" class="button button-start">View prototype</a>
                    </div>
                    {# End of prototype write up #} {# Start of prototype write up #}
                    <div class="prototype-write-up">
                        <div class="grid-row">
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Date of release</dt>
                                    <dd>November 2017</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Feature</dt>
                                    <dd>Design sprint Notify the landlord</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Related stories</dt>
                                    <dd>n/a</dd>
                                </dl>
                            </div>
                        </div>
                        <h3 class="heading-small">Changes</h3>
                        <p>
                            In this version, there have been several iterations based on new research findings on the current UC47.
                        </p>
                        <h3 class="heading-small">Hypothesis</h3>
                        <p>
                            If... then... because.
                        </p>
                        <h3 class="heading-small">Research notes</h3>
                        <p>
                            ...
                        </p>
                        <a href="/onlineform/start.html" class="button button-start">View prototype</a>
                    </div>
                    {# End of prototype write up #}
                    <hr /> {# Start of prototype write up #}
                    <div class="prototype-write-up">
                        <div class="grid-row">
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Date of release</dt>
                                    <dd>1 December 2017</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Feature</dt>
                                    <dd>Design sprint Notify the landlord with Notify</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Related stories</dt>
                                    <dd>n/a</dd>
                                </dl>
                            </div>
                        </div>
                        <h3 class="heading-small">Changes</h3>
                        <p>
                            Notifications to be automated with Notify.
                        </p>
                        <h3 class="heading-small">Hypothesis</h3>
                        <p>
                            If... then... because.
                        </p>
                        <h3 class="heading-small">Research notes</h3>
                        <p>
                            ...
                        </p>
                        <a href="notify-automated/start.html" class="button button-start">View prototype</a>
                    </div>
                    {# End of prototype write up #}
                    <hr /> {# Start of prototype write up #}
                    <div class="prototype-write-up">
                        <div class="grid-row">
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Date of release</dt>
                                    <dd>unknown</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Feature</dt>
                                    <dd>Postcode checker v6</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Related stories</dt>
                                    <dd>n/a</dd>
                                </dl>
                            </div>
                        </div>
                        <h3 class="heading-small">Changes</h3>
                        <p>
                            More changes based on September UR.
                        </p>
                        <h3 class="heading-small">Hypothesis</h3>
                        <p>
                            If... then... because.
                        </p>
                        <h3 class="heading-small">Research notes</h3>
                        <p>
                            ...
                        </p>
                        <a href="/postcode_v6/start.html" class="button button-start">View prototype</a>
                    </div>
                    {# End of prototype write up #}
                    <hr /> {# Start of prototype write up #}
                    <div class="prototype-write-up">
                        <div class="grid-row">
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Date of release</dt>
                                    <dd>unknown</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Feature</dt>
                                    <dd>Postcode checker v5</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Related stories</dt>
                                    <dd>n/a</dd>
                                </dl>
                            </div>
                        </div>
                        <h3 class="heading-small">Changes</h3>
                        <p>
                            Content and amends based on UR.
                        </p>
                        <h3 class="heading-small">Hypothesis</h3>
                        <p>
                            If... then... because.
                        </p>
                        <h3 class="heading-small">Research notes</h3>
                        <p>
                            ...
                        </p>
                        <a href="/postcode_v5/start.html" class="button button-start">View prototype</a>
                    </div>
                    {# End of prototype write up #}
                    <hr /> {# Start of prototype write up #}
                    <div class="prototype-write-up">
                        <div class="grid-row">
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Date of release</dt>
                                    <dd>unknown</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Feature</dt>
                                    <dd>Postcode checker v4</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Related stories</dt>
                                    <dd>n/a</dd>
                                </dl>
                            </div>
                        </div>
                        <h3 class="heading-small">Changes</h3>
                        <p>
                            Starts from start page not guidance.
                        </p>
                        <h3 class="heading-small">Hypothesis</h3>
                        <p>
                            If... then... because.
                        </p>
                        <h3 class="heading-small">Research notes</h3>
                        <p>
                            ...
                        </p>
                        <a href="/postcode_v3_1/start.html" class="button button-start">View prototype</a>
                    </div>
                    {# End of prototype write up #}
                    <hr /> {# Start of prototype write up #}
                    <div class="prototype-write-up">
                        <div class="grid-row">
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Date of release</dt>
                                    <dd>unknown</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Feature</dt>
                                    <dd>Postcode checker v3</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Related stories</dt>
                                    <dd>n/a</dd>
                                </dl>
                            </div>
                        </div>
                        <h3 class="heading-small">Changes</h3>
                        <p>
                            Gsi gsx different routes
                        </p>
                        <h3 class="heading-small">Hypothesis</h3>
                        <p>
                            If... then... because.
                        </p>
                        <h3 class="heading-small">Research notes</h3>
                        <p>
                            ...
                        </p>
                        <a href="/postcode_v3/start.html" class="button button-start">View prototype</a>
                    </div>
                    {# End of prototype write up #}
                    <hr /> {# Start of prototype write up #}
                    <div class="prototype-write-up">
                        <div class="grid-row">
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Date of release</dt>
                                    <dd>unknown</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Feature</dt>
                                    <dd>Postcode checker v2</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Related stories</dt>
                                    <dd>n/a</dd>
                                </dl>
                            </div>
                        </div>
                        <h3 class="heading-small">Changes</h3>
                        <p>
                            Prototype for postcode checker with added start pages.
                        </p>
                        <h3 class="heading-small">Hypothesis</h3>
                        <p>
                            If... then... because.
                        </p>
                        <h3 class="heading-small">Research notes</h3>
                        <p>
                            ...
                        </p>
                        <a href="/postcode_v2/start.html" class="button button-start">View prototype</a>
                    </div>
                    {# End of prototype write up #}
                    <hr /> {# Start of prototype write up #}
                    <div class="prototype-write-up">
                        <div class="grid-row">
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Date of release</dt>
                                    <dd>unknown</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Feature</dt>
                                    <dd>Postcode checker v1</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Related stories</dt>
                                    <dd>n/a</dd>
                                </dl>
                            </div>
                        </div>
                        <h3 class="heading-small">Changes</h3>
                        <p>
                            Initial prototype for postcode checker.
                        </p>
                        <h3 class="heading-small">Hypothesis</h3>
                        <p>
                            If... then... because.
                        </p>
                        <h3 class="heading-small">Research notes</h3>
                        <p>
                            ...
                        </p>
                        <a href="/postcode/start.html" class="button button-start">View prototype</a>
                    </div>
                    {# End of prototype write up #}
                </div>
            </details>
            {# End of hidden panel #}
        </div>
    </div>
</main>
{% endblock %}