{% extends "layout-index.html" %} {% block page_title %} GOV.UK prototype kit {% endblock %} {% block content %}
<div class="homepage-top">
    <div class="homepage-top-content">
        <h1 class="heading-xlarge">
      {{serviceName}}
      <span>Prototypes</span>
    </h1>
    </div>
</div>
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            {# Start of most recent box #}
            <div class="most-recent">
                {# Start of prototype write up #}
                <div class="prototype-write-up">
                    <div class="grid-row">
                        <div class="column-one-third">
                            <dl>
                                <dt class="heading-small">Date of release</dt>
                                <dd>Not released yet</dd>
                            </dl>
                        </div>
                        <div class="column-one-third">
                            <dl>
                                <dt class="heading-small">Feature</dt>
                                <dd>Online form v6</dd>
                            </dl>
                        </div>
                        <div class="column-one-third">
                            <dl>
                                <dt class="heading-small">Related stories</dt>
                                <dd>n/a</dd>
                            </dl>
                        </div>
                    </div>
                    <h3 class="heading-small">Changes</h3>
                    <p>
                        <li>Including a (potential) social landlords journey ombining rent and service charge arrears</li>
                        <!-- <li>Adding rent free weeks back in for social landlords</li> -->
                        <!-- < -->
                        <!-- li>Messaging on reason for request - needs to be clear only 3 options can be selected</li> -->
                        <!-- <li>Content changes: date of first and last missing payment</li> -->
                        <li>Messaging on rent details to NOT include service charge</li>
                        <li>Messaging on rent arrears to include service charge</li>
                        <li>Removed number of bedrooms</li>
                        <li>Change 'benefit' to 'UC Payment'</li>
                        <li>Remove reason of 'multiple complex needs'</li>
                        <br>
                    </p>
                    <h3 class="heading-small">Hypothesis</h3>
                    <li></li>
                    </p>
                    <h3 class="heading-small">Research notes used for iterations</h3>
                    <p>Research done with private and social landlords
                        <br>
                        <li></li>
                        <br>
                    </p>
                    <a href="/onlineform_v4/start.html" class="button button-start">Current Private Landlords</a>
                    <br>
                    </br>
                   <!--  <a href="/case_manager_email/email_ls.html" class="button button-start">Case Managers Live Service</a>
                    <br>
                    </br>
                    <a href="/case_manager_email/email_fs.html" class="button button-start">Case Managers Full Service</a>
                    <br>
                    </br>
                    <a href="/onlineform_v6_social/start.html" class="button button-start">Social Landlords</a>
                    <br>
                    </br> -->
                    <!-- <a href="/onlineform_v6_private/start.html" class="button button-start">Private Landlords</a> -->
                </div>
                {# End of prototype write up #}
            </div>
            {# End of most recent box #}
            <!-- <All versions> -->
            <h2 class="heading-large">All versions</h2> {# Start of hidden panel #}
            <details>
                <summary><span class="summary">Show all versions</span></summary>
                <div class="panel panel-border-narrow">
                    {# Start of prototype write up #}
                    <div class="prototype-write-up">
                        <div class="grid-row">
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Date of release</dt>
                                    <dd>Not released yet</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Feature</dt>
                                    <dd>Online form v5</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Related stories</dt>
                                    <dd>n/a</dd>
                                </dl>
                            </div>
                        </div>
                        <h3 class="heading-small">Changes</h3>
                        <p>
                            <li>Social landlords route including asking for service charge</li>
                            <br>
                        </p>
                        <h3 class="heading-small">Hypothesis</h3>
                        <li></li>
                        </p>
                        <h3 class="heading-small">Research notes used for iterations</h3>
                        <p>Research done with private and social landlords
                            <br>
                            <li></li>
                            <br>
                        </p>
                        <a href="/onlineform_v5/start.html" class="button button-start">View prototype</a>
                    </div>
                    <hr> {# End of prototype write up #} {# Start of prototype write up #}
                    <div class="prototype-write-up">
                        <div class="grid-row">
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Date of release</dt>
                                    <dd>Not released yet</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Feature</dt>
                                    <dd>Online form v4</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Related stories</dt>
                                    <dd>n/a</dd>
                                </dl>
                            </div>
                        </div>
                        <h3 class="heading-small">Changes</h3>
                        <p>
                            <li>Changing request type to radio buttons instead of checkboxes</li>
                            <li>Removing creditor reference number from direct payment journey</li>
                            <li>Content changes</li>
                            <li>Removing rent free weeks from rent details</li>
                            <li>Adding postal route</li>
                            <li>Adding postal route</li>
                            <br>
                        </p>
                        <h3 class="heading-small">Hypothesis</h3>
                        <li>We believe that by changing ‘missing rent’ to ‘rent arrears’ throughout the service landlords will understand that it refers to rent that the tenant hasn’t paid. We’ll know this when we have less queries about this term in user testing.</li>
                        <li>We believe that by asking the landlord how much rent is owed avoids any confusion over whether they include rent payments that will be due before the end of the tenancy agreement. We’ll know this has worked when landlords enter amounts just for previous months’ rent.</li>
                        <li>We believe that by asking the landlord if the tenant has paid any rent since they were in rent arrears (previous question) is clearer than asking if the tenant is still missing payments. We’ll know this when landlords can easily explain what the question means in user testing.</li>
                        <li>We believe that by changing ‘Tenant reference number’ to ‘Payment reference’ landlords will recognise this as just something that appears on their bank statement rather than being something DWP provides. We also believe that by changing the help text to explain that they choose the reference number will reassure them that it’s not something they need to get from the tenant or DWP. We’ll know this when they can explain what a ‘payment reference’ is in user testing.</li>
                        <li>We believe that by adding ‘(if known)’ next to creditor reference number will make it clear to landlords that it’s not something they need to give and that not having one won’t slow down their application. We also believe that adding more information about what a creditor reference is will reduce the amount of questions we get on this during user testing.</li>
                        <li>We believe that by adding information on what happens if the application is successful, the landlord will be less likely to contact DWP to query what happens next. We’ll know this when we ask the landlords what they would do next in user testing.</li>
                        </p>
                        <h3 class="heading-small">Research notes used for iterations</h3>
                        <p>Research done with private landlords
                            <br>
                            <li></li>
                            <br>
                        </p>
                        <a href="/onlineform_v4/start.html" class="button button-start">View prototype</a>
                    </div>
                    {# End of prototype write up #}
                    <hr/>{# Start of prototype write up #}
                    <div class="prototype-write-up">
                        <div class="grid-row">
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Date of release</dt>
                                    <dd>Testing Feb 2018</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Feature</dt>
                                    <dd>Online form v3</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Related stories</dt>
                                    <dd>n/a</dd>
                                </dl>
                            </div>
                        </div>
                        <h3 class="heading-small">Changes</h3>
                        <p>
                            <li>Amending 'request reason' page to cover off tier 1 and tier 2 reasons</li>
                            <li>Removing mention of 8 weeks of arrears and changing to 2 months to align with policy and guidance</li>
                            <li>Removing details of missing payments: we only need to know the amount and the frequency.
                                <br>
                        </p>
                        <h3 class="heading-small">Hypothesis</h3>
                        <p>We've seen users struggling to add arrears details into the form. We believe that if we simplify the amount of information we are asking for, the case managers can still process the application resulting in a faster application process.
                        </p>
                        <h3 class="heading-small">Research notes used for iterations</h3>
                        <p>Research done with private landlords
                            <br>
                            <li>Confusion around the creditor and tenant reference numbers. We were aware this may happen and hoping content design support will help to iron this out.
                                <br>
                                <li>Users are struggling when entering missing payment information for a number of reasons. For example, missing out the 'add another' button. After more research, we do not need to collect all of this information so the questions have been changed to reflect this.
                                    <br>
                        </p>
                        <a href="/onlineform_v3/start.html" class="button button-start">View prototype</a>
                    </div>
                    {# End of prototype write up #}
                    <hr/>{# Start of prototype write up #}
                    <div class="prototype-write-up">
                        <div class="grid-row">
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Date of release</dt>
                                    <dd>Not released yet</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Feature</dt>
                                    <dd>Online form v2</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Related stories</dt>
                                    <dd>n/a</dd>
                                </dl>
                            </div>
                        </div>
                        <h3 class="heading-small">Changes</h3>
                        <p>
                            After a meeting with UC47 SME's, we looked at items that are not used for APA purposes, and removed them:
                            <br>
                            <li>Temporary accommodation
                                <br>
                                <li>Service charge details
                                    <br>
                                    <li>Joint tenancy and partner details
                                        <br>
                                        <li>NINO
                                            <br>
                                            <li>Adding more rent arrears options: missing payment 1, 2, 3 etc
                                                <br>
                                                <br> The length of the check your answers page was a concern, so in this prototype it is broken down into two, one after the initial data gather, and another after the rent arrears details.
                                                <br>
                                                <br> It was observed that there was a lot of "change" buttons on the check your answers page which essentially take the user to the same page. These have been removed to be one change page per section.
                        </p>
                        <h3 class="heading-small">Hypothesis</h3>
                        <p>We believe that by adding more 'missing payment' entry options, will allow the user to understand how this input section works. We'll know this when we see users entering information correctly.
                            <br>
                            <br> We believe that case managers do not need some of the information asked for on the APA, to process the APA itself, because we have seen them using this for other related housing work. So if we remove these, we'll see them being able to process the APA anyway.
                            <br>
                            <br> We believe that having the arrears question separate from the other reasons for application will improve the user experience, because most people are in 8 weeks of arrears and will not need to read all the additional information.
                            <br>
                            <br> Content changes - see documentation.
                        </p>
                        <h3 class="heading-small">Research notes used for iterations</h3>
                        <p>Research done with private landlords
                            <br>
                            <li>Form relatively easy to fill in
                                <br>
                                <li>Users struggled to see the "add another button on rent arrears details"
                                    <br>
                                    <li>Users don't understand the meaning of 'reference number'
                                        <br>
                                        <li>Private landlords have differing amounts of information about their tenants.
                                            <br>
                                            <li>Confusion over language used in 'rent statement'
                                                <br>
                                                <li>Confusion over service charges
                                                    <br>
                                                    <li>Declaration unclear (needs work)
                                                        <br>
                        </p>
                        <a href="/onlineform_v2/start.html" class="button button-start">View prototype</a>
                    </div>
                    {# End of prototype write up #}
                    <hr/>{# Start of prototype write up #}
                    <div class="prototype-write-up">
                        <div class="grid-row">
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Date of release</dt>
                                    <dd>December 2017</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Feature</dt>
                                    <dd>Online form v1</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Related stories</dt>
                                    <dd>n/a</dd>
                                </dl>
                            </div>
                        </div>
                        <h3 class="heading-small">Changes</h3>
                        <p>
                            ...
                        </p>
                        <h3 class="heading-small">Hypothesis</h3>
                        <p>
                            If... then... because.
                        </p>
                        <h3 class="heading-small">Research notes</h3>
                        <p>
                            ...
                        </p>
                        <a href="/notify/start.html" class="button button-start">View prototype</a>
                    </div>
                    {# End of prototype write up #}
                    <hr/>{# Start of prototype write up #}
                    <div class="prototype-write-up">
                        <div class="grid-row">
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Date of release</dt>
                                    <dd>November 2017</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Feature</dt>
                                    <dd>Design sprint Notify the landlord</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Related stories</dt>
                                    <dd>n/a</dd>
                                </dl>
                            </div>
                        </div>
                        <h3 class="heading-small">Changes</h3>
                        <p>
                            In this version, there have been several iterations based on new research findings on the current UC47.
                        </p>
                        <h3 class="heading-small">Hypothesis</h3>
                        <p>
                            If... then... because.
                        </p>
                        <h3 class="heading-small">Research notes</h3>
                        <p>
                            ...
                        </p>
                        <a href="/onlineform/start.html" class="button button-start">View prototype</a>
                    </div>
                    {# End of prototype write up #}
                    <hr/> {# Start of prototype write up #}
                    <div class="prototype-write-up">
                        <div class="grid-row">
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Date of release</dt>
                                    <dd>1 December 2017</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Feature</dt>
                                    <dd>Design sprint Notify the landlord with Notify</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Related stories</dt>
                                    <dd>n/a</dd>
                                </dl>
                            </div>
                        </div>
                        <h3 class="heading-small">Changes</h3>
                        <p>
                            Notifications to be automated with Notify.
                        </p>
                        <h3 class="heading-small">Hypothesis</h3>
                        <p>
                            If... then... because.
                        </p>
                        <h3 class="heading-small">Research notes</h3>
                        <p>
                            ...
                        </p>
                        <a href="notify-automated/start.html" class="button button-start">View prototype</a>
                    </div>
                    {# End of prototype write up #}
                    <hr/> {# Start of prototype write up #}
                    <div class="prototype-write-up">
                        <div class="grid-row">
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Date of release</dt>
                                    <dd>unknown</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Feature</dt>
                                    <dd>Postcode checker v6</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Related stories</dt>
                                    <dd>n/a</dd>
                                </dl>
                            </div>
                        </div>
                        <h3 class="heading-small">Changes</h3>
                        <p>
                            More changes based on September UR.
                        </p>
                        <h3 class="heading-small">Hypothesis</h3>
                        <p>
                            If... then... because.
                        </p>
                        <h3 class="heading-small">Research notes</h3>
                        <p>
                            ...
                        </p>
                        <a href="/postcode_v6/start.html" class="button button-start">View prototype</a>
                    </div>
                    {# End of prototype write up #}
                    <hr/> {# Start of prototype write up #}
                    <div class="prototype-write-up">
                        <div class="grid-row">
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Date of release</dt>
                                    <dd>unknown</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Feature</dt>
                                    <dd>Postcode checker v5</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Related stories</dt>
                                    <dd>n/a</dd>
                                </dl>
                            </div>
                        </div>
                        <h3 class="heading-small">Changes</h3>
                        <p>
                            Content and amends based on UR.
                        </p>
                        <h3 class="heading-small">Hypothesis</h3>
                        <p>
                            If... then... because.
                        </p>
                        <h3 class="heading-small">Research notes</h3>
                        <p>
                            ...
                        </p>
                        <a href="/postcode_v5/start.html" class="button button-start">View prototype</a>
                    </div>
                    {# End of prototype write up #}
                    <hr/> {# Start of prototype write up #}
                    <div class="prototype-write-up">
                        <div class="grid-row">
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Date of release</dt>
                                    <dd>unknown</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Feature</dt>
                                    <dd>Postcode checker v4</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Related stories</dt>
                                    <dd>n/a</dd>
                                </dl>
                            </div>
                        </div>
                        <h3 class="heading-small">Changes</h3>
                        <p>
                            Starts from start page not guidance.
                        </p>
                        <h3 class="heading-small">Hypothesis</h3>
                        <p>
                            If... then... because.
                        </p>
                        <h3 class="heading-small">Research notes</h3>
                        <p>
                            ...
                        </p>
                        <a href="/postcode_v3_1/start.html" class="button button-start">View prototype</a>
                    </div>
                    {# End of prototype write up #}
                    <hr/> {# Start of prototype write up #}
                    <div class="prototype-write-up">
                        <div class="grid-row">
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Date of release</dt>
                                    <dd>unknown</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Feature</dt>
                                    <dd>Postcode checker v3</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Related stories</dt>
                                    <dd>n/a</dd>
                                </dl>
                            </div>
                        </div>
                        <h3 class="heading-small">Changes</h3>
                        <p>
                            Gsi gsx different routes
                        </p>
                        <h3 class="heading-small">Hypothesis</h3>
                        <p>
                            If... then... because.
                        </p>
                        <h3 class="heading-small">Research notes</h3>
                        <p>
                            ...
                        </p>
                        <a href="/postcode_v3/start.html" class="button button-start">View prototype</a>
                    </div>
                    {# End of prototype write up #}
                    <hr/> {# Start of prototype write up #}
                    <div class="prototype-write-up">
                        <div class="grid-row">
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Date of release</dt>
                                    <dd>unknown</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Feature</dt>
                                    <dd>Postcode checker v2</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Related stories</dt>
                                    <dd>n/a</dd>
                                </dl>
                            </div>
                        </div>
                        <h3 class="heading-small">Changes</h3>
                        <p>
                            Prototype for postcode checker with added start pages.
                        </p>
                        <h3 class="heading-small">Hypothesis</h3>
                        <p>
                            If... then... because.
                        </p>
                        <h3 class="heading-small">Research notes</h3>
                        <p>
                            ...
                        </p>
                        <a href="/postcode_v2/start.html" class="button button-start">View prototype</a>
                    </div>
                    {# End of prototype write up #}
                    <hr/> {# Start of prototype write up #}
                    <div class="prototype-write-up">
                        <div class="grid-row">
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Date of release</dt>
                                    <dd>unknown</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Feature</dt>
                                    <dd>Postcode checker v1</dd>
                                </dl>
                            </div>
                            <div class="column-one-third">
                                <dl>
                                    <dt class="heading-small">Related stories</dt>
                                    <dd>n/a</dd>
                                </dl>
                            </div>
                        </div>
                        <h3 class="heading-small">Changes</h3>
                        <p>
                            Initial prototype for postcode checker.
                        </p>
                        <h3 class="heading-small">Hypothesis</h3>
                        <p>
                            If... then... because.
                        </p>
                        <h3 class="heading-small">Research notes</h3>
                        <p>
                            ...
                        </p>
                        <a href="/postcode/start.html" class="button button-start">View prototype</a>
                    </div>
                    {# End of prototype write up #}
                </div>
            </details>
            {# End of hidden panel #}
        </div>
    </div>
</main>
{% endblock %}