{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Landlord request for direct payment (APA)
      </h1>
      <p>
        Use this service to:
      </p>

			<ul class="list list-bullet">
        <li>request a Managed Payment</li>
        <li>request a rent arrears deduction</li>
			</ul>

      <p>This should take around 10 minutes.</p>

      <p><a href="/postcode/entry.html" class="button button-start">Start now</a></p>

      <h2 class="heading-large">Before you start</h2>
      <p>You can also <a href="#">request a direct payment by post</a>.</p>
      <p>The online service is also available in <a href="#">Welsh (Cymraeg)</a>.</p>
      <p>You can’t register for this service if you’re in the UK illegally.</p>

    </div>
  </div>
</main>

{% endblock %}
