{% extends "../page.html" %}

{% block pageTitle -%}
  Cookies – {{ serviceName }}
{%- endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Your cookies are switched off
    </h1>

    <p>We’ve noticed that you have cookies switched off on this computer or device.</p>
    <p>You cannot complete the application for direct rent payments if cookies are switched off.</p>

    <h2 class="govuk-heading-m">
      How to switch cookies on
    </h2>

    <p>How to turn on cookies depends on the <a href="https://whatbrowser.org/">browser you’re using</a>. Find out how to change your settings for the most popular browsers, including:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://support.microsoft.com/en-gb/help/17442">Internet Explorer</a></li>
      <li><a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences">Mozilla Firefox</a></li>
      <li><a href="https://support.google.com/accounts/answer/61416?hl=en">Google Chrome</a></li>
      <li><a href="https://support.apple.com/en-gb/guide/safari/manage-cookies-and-website-data-sfri11471/mac">Safari</a>, commonly used on iPads, iPhones and other Apple computers</li>
    </ul>

    <p>Find out how to <a href="https://ico.org.uk/your-data-matters/online/cookies/">manage cookies</a> for other browsers.</p>

    <h2 class="govuk-heading-m">
      If you do not want to accept our cookie policy
    </h2>

    <p>If you do not want to accept our cookie policy on your own computer or device you can:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>use a computer or device belonging to someone else (with their permission)</li>
      <li>use a computer or device at a public facility such as a library or internet cafe</li>
    </ul>

  </div>
</div>
{% endblock %}
